Nama : Keyla Azzahra
NIM  : 103132400017
MK   : Infrastruktur Platform Sains Data

Soal Nomor 1

In [4]:
# Import library yang diperlukan
import pandas as pd   # untuk membaca dan mengolah data tabel
import numpy as np    # untuk operasi numerik

# Membaca dataset dari file CSV
features = pd.read_csv('/content/features.csv')
labels = pd.read_csv('/content/labels.csv')

# Menampilkan 5 data pertama untuk memastikan data terbaca dengan benar
print("=== Dataset FEATURES ===")
display(features.head())

print("\n=== Dataset LABELS ===")
display(labels.head())

# Menampilkan informasi umum dataset (nama kolom, tipe data, jumlah non-null)
print("\n=== Informasi FEATURES ===")
features.info()

print("\n=== Informasi LABELS ===")
labels.info()

# Mengecek jumlah baris dan kolom di masing-masing dataset
print("\nJumlah data features:", features.shape)
print("Jumlah data labels:", labels.shape)

# Mengecek apakah ada nilai kosong
print("\nCek nilai kosong pada features:")
print(features.isnull().sum())

print("\nCek nilai kosong pada labels:")
print(labels.isnull().sum())

=== Dataset FEATURES ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,0,6634,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,...,0.0,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02
1,1,6459,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,...,0.0,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,...,0.0,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02
4,4,4260,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,...,0.0,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79

=== Dataset LABELS ===

     Target
0  Graduate
1  Graduate
2  Graduate
3  Graduate
4   Dropout

=== Informasi FEATURES ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3096 entries, 0 to 3095
Data columns (total 38 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Unnamed: 0                                      3096 non-null   int64
 1   Student Id                                      3096 non-null   int64
 2   Marital status                                  3012 non-null   object
 3   Application mode                                2924 non-null   float64
 4   Application order                               2988 non-null   float64
 5   Course                                          2944 non-null   float64
 6   Daytime/evening attendance	                     3016 non-null   object
 7   Previous qualification                          2973 non-null   float64
 8   Previous qualification (grade)                  3011 non-null   float64
 9   Nacionality                                     2911 non-null   object
 10  Mother's qualification                          2951 non-null   float64
 11  Father's qualification                          3000 non-null   float64
 12  Mother's occupation                             3034 non-null   float64
 13  Father's occupation                             2952 non-null   float64
 14  Admission grade                                 2955 non-null   float64
 15  Displaced                                       2974 non-null   float64
 16  Educational special needs                       2977 non-null   float64
 17  Debtor                                          2980 non-null   float64
 18  Tuition fees up to date                         2940 non-null   float64
 19  Gender                                          2894 non-null   float64
 20  Scholarship holder                              2930 non-null   float64
 21  Age at enrollment                               2892 non-null   float64
 22  International                                   2995 non-null   float64
 23  Curricular units 1st sem (credited)             2888 non-null   float64
 24  Curricular units 1st sem (enrolled)             2953 non-null   float64
 25  Curricular units 1st sem (evaluations)          3029 non-null   float64
 26  Curricular units 1st sem (approved)             2912 non-null   float64
 27  Curricular units 1st sem (grade)                3007 non-null   float64
 28  Curricular units 1st sem (without evaluations)  3023 non-null   float64
 29  Curricular units 2nd sem (credited)             3035 non-null   float64
 30  Curricular units 2nd sem (enrolled)             2997 non-null   float64
 31  Curricular units 2nd sem (evaluations)          2889 non-null   float64
 32  Curricular units 2nd sem (approved)             2945 non-null   float64
 33  Curricular units 2nd sem (grade)                3021 non-null   float64
 34  Curricular units 2nd sem (without evaluations)  2943 non-null   float64
 35  Unemployment rate                               2960 non-null   float64
 36  Inflation rate                                  2929 non-null   float64
 37  GDP                                             3032 non-null   float64
dtypes: float64(33), int64(2), object(3)
memory usage: 919.3+ KB

=== Informasi LABELS ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3096 entries, 0 to 3095
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Target  3096 non-null   object
dtypes: object(1)
memory usage: 24.3+ KB

Jumlah data features: (3096, 38)
Jumlah data labels: (3096, 1)

Cek nilai kosong pada features:
Unnamed: 0                                          0
Student Id                                          0
Marital status                                     84
Application mode                                  172
Application order                                 108
Course                                            152
Daytime/evening attendance\t                       80
Previous qualification                            123
Previous qualification (grade)                     85
Nacionality                                       185
Mother's qualification                            145
Father's qualification                             96
Mother's occupation                                62
Father's occupation                               144
Admission grade                                   141
Displaced                                         122
Educational special needs                         119
Debtor                                            116
Tuition fees up to date                           156
Gender                                            202
Scholarship holder                                166
Age at enrollment                                 204
International                                     101
Curricular units 1st sem (credited)               208
Curricular units 1st sem (enrolled)               143
Curricular units 1st sem (evaluations)             67
Curricular units 1st sem (approved)               184
Curricular units 1st sem (grade)                   89
Curricular units 1st sem (without evaluations)     73
Curricular units 2nd sem (credited)                61
Curricular units 2nd sem (enrolled)                99
Curricular units 2nd sem (evaluations)            207
Curricular units 2nd sem (approved)               151
Curricular units 2nd sem (grade)                   75
Curricular units 2nd sem (without evaluations)    153
Unemployment rate                                 136
Inflation rate                                    167
GDP                                                64
dtype: int64

Cek nilai kosong pada labels:
Target    0
dtype: int64

Tahap eksplorasi data awal ini bertujuan untuk melakukan inspeksi mendasar terhadap dataset features.csv dan labels.csv. Dengan memanfaatkan library pandas, kedua file data tersebut diimpor untuk dianalisis. Struktur data diamati dengan menampilkan sampel data teratas melalui fungsi head(). Selanjutnya, ringkasan teknis seperti tipe data di setiap kolom dan jumlah entri non-null diperoleh menggunakan info(). Dimensi dataset (jumlah baris dan kolom) juga diverifikasi melalui shape, sementara isnull().sum() digunakan secara spesifik untuk mendeteksi keberadaan data yang kosong. Proses ini memberikan pemahaman awal yang solid mengenai kondisi dataset sebelum diproses lebih lanjut.

Hasil pemeriksaan awal memastikan bahwa dataset features.csv dan labels.csv telah sukses diimpor ke dalam lingkungan kerja Python menggunakan pandas. Melalui penggunaan fungsi seperti head(), info(), dan isnull().sum(), kami berhasil mengidentifikasi struktur dasar, jenis data tiap kolom, dimensi data, serta mendeteksi adanya nilai yang hilang. Pemahaman karakteristik data ini merupakan fondasi yang esensial sebelum melangkah ke tahap analisis data atau pengembangan model.

Soal Nomor 2

In [6]:
# Import library
import pandas as pd

# Membaca dataset
features = pd.read_csv('/content/features.csv')
labels = pd.read_csv('/content/labels.csv')

# Menampilkan nama kolom di masing-masing tabel
print("Kolom pada FEATURES:")
print(features.columns.tolist())

print("\nKolom pada LABELS:")
print(labels.columns.tolist())

# Mencari kolom yang sama di kedua tabel untuk dijadikan kunci penggabungan
common_cols = list(set(features.columns) & set(labels.columns))
print("\nKolom yang sama di kedua tabel:", common_cols)

# Melakukan agregasi (penggabungan) berdasarkan kolom yang sama
# Jika tidak ada kolom yang sama, penggabungan dilakukan secara horizontal (tanpa kunci)
if len(common_cols) > 0:
    merged_data = pd.merge(features, labels, on=common_cols)
else:
    merged_data = pd.concat([features, labels], axis=1)

# Menampilkan hasil penggabungan
print("\n=== Data Setelah Agregasi ===")
display(merged_data.head())

# Menampilkan ukuran dataset hasil agregasi
print("\nUkuran dataset setelah agregasi:", merged_data.shape)

Kolom pada FEATURES:
['Unnamed: 0', 'Student Id', 'Marital status', 'Application mode', 'Application order', 'Course', 'Daytime/evening attendance\t', 'Previous qualification', 'Previous qualification (grade)', 'Nacionality', "Mother's qualification", "Father's qualification", "Mother's occupation", "Father's occupation", 'Admission grade', 'Displaced', 'Educational special needs', 'Debtor', 'Tuition fees up to date', 'Gender', 'Scholarship holder', 'Age at enrollment', 'International', 'Curricular units 1st sem (credited)', 'Curricular units 1st sem (enrolled)', 'Curricular units 1st sem (evaluations)', 'Curricular units 1st sem (approved)', 'Curricular units 1st sem (grade)', 'Curricular units 1st sem (without evaluations)', 'Curricular units 2nd sem (credited)', 'Curricular units 2nd sem (enrolled)', 'Curricular units 2nd sem (evaluations)', 'Curricular units 2nd sem (approved)', 'Curricular units 2nd sem (grade)', 'Curricular units 2nd sem (without evaluations)', 'Unemployment rate', 'Inflation rate', 'GDP']

Kolom pada LABELS:
['Target']

Kolom yang sama di kedua tabel: []

=== Data Setelah Agregasi ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,6634,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,...,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,Graduate
1,1,6459,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,Graduate
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,...,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,Graduate
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,...,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,Graduate
4,4,4260,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,...,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79,Dropout

Ukuran dataset setelah agregasi: (3096, 39)

Pada tahap ini, dilakukan proses penyatuan data dari dua sumber, yaitu tabel features dan labels. Prosedur dimulai dengan memuat kedua dataset, kemudian program secara cerdas mengidentifikasi kolom yang berfungsi sebagai kunci penghubung (kolom dengan nama yang identik di kedua tabel). Jika kunci penghubung ini terdeteksi, fungsi pd.merge() dieksekusi untuk melakukan penggabungan data secara relasional. Namun, jika tidak ditemukan kolom yang sama, program akan menggunakan strategi alternatif dengan menggabungkan kedua tabel secara berdampingan (horizontal) menggunakan pd.concat().

Soal Nomor 3

In [7]:
# Import library
import pandas as pd

# Membaca dan menggabungkan kembali dataset (jika belum ada dari soal sebelumnya)
features = pd.read_csv('/content/features.csv')
labels = pd.read_csv('/content/labels.csv')

# Mencari kolom yang sama untuk agregasi otomatis
common_cols = list(set(features.columns) & set(labels.columns))
if len(common_cols) > 0:
    merged_data = pd.merge(features, labels, on=common_cols)
else:
    merged_data = pd.concat([features, labels], axis=1)

# Menampilkan tipe data dari setiap kolom
print("=== Tipe Data Setiap Kolom ===")
print(merged_data.dtypes)

# Menampilkan ringkasan tipe data (berapa kolom numerik, object, dsb)
print("\n=== Jumlah Kolom Berdasarkan Jenis Data ===")
print(merged_data.dtypes.value_counts())

=== Tipe Data Setiap Kolom ===
Unnamed: 0                                          int64
Student Id                                          int64
Marital status                                     object
Application mode                                  float64
Application order                                 float64
Course                                            float64
Daytime/evening attendance\t                       object
Previous qualification                            float64
Previous qualification (grade)                    float64
Nacionality                                        object
Mother's qualification                            float64
Father's qualification                            float64
Mother's occupation                               float64
Father's occupation                               float64
Admission grade                                   float64
Displaced                                         float64
Educational special needs                         float64
Debtor                                            float64
Tuition fees up to date                           float64
Gender                                            float64
Scholarship holder                                float64
Age at enrollment                                 float64
International                                     float64
Curricular units 1st sem (credited)               float64
Curricular units 1st sem (enrolled)               float64
Curricular units 1st sem (evaluations)            float64
Curricular units 1st sem (approved)               float64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)    float64
Curricular units 2nd sem (credited)               float64
Curricular units 2nd sem (enrolled)               float64
Curricular units 2nd sem (evaluations)            float64
Curricular units 2nd sem (approved)               float64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)    float64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                             object
dtype: object

=== Jumlah Kolom Berdasarkan Jenis Data ===
float64    33
object      4
int64       2
Name: count, dtype: int64

Pada tahap ini, kami melakukan verifikasi tipe data untuk setiap kolom pada dataset gabungan. Dengan menggunakan atribut .dtypes, kami mengidentifikasi properti data di setiap kolom, apakah berupa bilangan bulat (int64), bilangan desimal (float64), atau data tekstual (object). Untuk mendapatkan gambaran umum yang cepat, fungsi .value_counts() juga diterapkan pada hasil .dtypes untuk menghitung total kolom dari masing-masing tipe data.

Dari verifikasi ini, kami memperoleh profil data yang jelas untuk setiap kolom. Informasi ini sangat krusial sebagai landasan untuk menentukan metode prapemrosesan yang tepat, seperti normalisasi untuk data numerik atau encoding untuk data kategorikal, sebelum data digunakan dalam pemodelan.

Soal Nomor 4

In [8]:
# Import library
import pandas as pd

# Membaca dan menggabungkan dataset (jika belum dilakukan)
features = pd.read_csv('/content/features.csv')
labels = pd.read_csv('/content/labels.csv')

# Mencari kolom yang sama untuk agregasi otomatis
common_cols = list(set(features.columns) & set(labels.columns))
if len(common_cols) > 0:
    merged_data = pd.merge(features, labels, on=common_cols)
else:
    merged_data = pd.concat([features, labels], axis=1)

# Menampilkan statistik deskriptif dari dataset
print("=== Statistik Deskriptif Dataset ===")
display(merged_data.describe())

# Menampilkan statistik juga untuk kolom non-numerik (opsional)
print("\n=== Statistik Deskriptif untuk Data Kategorikal ===")
display(merged_data.describe(include=['object']))

=== Statistik Deskriptif Dataset ===

,Unnamed: 0,Student Id,Application mode,Application order,Course,Previous qualification,Previous qualification (grade),Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
count,3096.000000,3096.000000,2924.000000,2988.000000,2944.000000,2973.000000,3011.000000,2951.000000,3000.000000,3034.000000,...,3023.000000,3035.000000,2997.000000,2889.000000,2945.000000,3021.000000,2943.000000,2960.000000,2929.000000,3032.000000
mean,1547.500000,5470.623062,18.785568,1.734940,8817.929348,4.685503,132.647293,19.470010,22.408667,11.495715,...,0.133311,0.516639,6.208876,8.061613,4.422411,10.275115,0.139314,11.549561,1.215534,0.028278
std,893.882543,2582.483019,17.532674,1.327527,2148.407432,10.439709,13.322662,15.636952,15.291008,28.173386,...,0.666707,1.840537,2.185127,3.942850,2.982200,5.177672,0.709478,2.651675,1.377709,2.273157
min,0.000000,1000.000000,1.000000,1.000000,33.000000,1.000000,95.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.600000,-0.800000,-4.060000
25%,773.750000,3288.500000,1.000000,1.000000,9085.000000,1.000000,124.000000,2.000000,3.000000,4.000000,...,0.000000,0.000000,5.000000,6.000000,2.000000,10.800000,0.000000,9.400000,0.300000,-1.700000
50%,1547.500000,5441.500000,17.000000,1.000000,9238.000000,1.000000,133.100000,19.000000,19.000000,5.000000,...,0.000000,0.000000,6.000000,8.000000,5.000000,12.250000,0.000000,11.100000,1.400000,0.320000
75%,2321.250000,7712.250000,39.000000,2.000000,9556.000000,1.000000,140.000000,37.000000,37.000000,9.000000,...,0.000000,0.000000,7.000000,10.000000,6.000000,13.333333,0.000000,13.900000,2.600000,1.790000
max,3095.000000,9997.000000,53.000000,9.000000,9991.000000,43.000000,190.000000,44.000000,44.000000,194.000000,...,10.000000,19.000000,23.000000,27.000000,20.000000,18.571429,12.000000,16.200000,3.700000,3.510000

=== Statistik Deskriptif untuk Data Kategorikal ===

       Marital status Daytime/evening attendance\t Nacionality    Target
count            3012                         3016        2911      3096
unique              6                            2          19         3
top            single                          day  Portuguese  Graduate
freq             2674                         2701        2836      1546

Langkah ini melibatkan penggunaan metode .describe() untuk melakukan analisis statistik deskriptif pada dataset. Metode ini secara default menghasilkan ringkasan untuk seluruh kolom numerik, yang mencakup jumlah entri (count), rata-rata aritmatika (mean), standar deviasi (std), nilai ekstrem (min, max), dan distribusi kuartil. Untuk mendapatkan wawasan dari kolom non-numerik, metode ini dipanggil kembali dengan argumen include=['object'], yang menghasilkan statistik untuk data kategorikal seperti jumlah nilai unik dan modus (top).

Interpretasi dari output statistik ini mengungkapkan karakteristik distribusi data. Untuk data numerik, standar deviasi yang tinggi atau selisih yang signifikan antara nilai minimum dan maksimum mengisyaratkan sebaran data yang luas atau potensi adanya nilai ekstrem. Sebaliknya, pada data kategorikal, frekuensi kemunculan nilai modus (top) yang tinggi menunjukkan adanya ketidakseimbangan distribusi antar kategori yang ada.

Soal Nomor 5

In [9]:
# Import library
import pandas as pd

# Membaca dan menggabungkan dataset
features = pd.read_csv('/content/features.csv')
labels = pd.read_csv('/content/labels.csv')

# Mencari kolom yang sama untuk agregasi otomatis
common_cols = list(set(features.columns) & set(labels.columns))
if len(common_cols) > 0:
    merged_data = pd.merge(features, labels, on=common_cols)
else:
    merged_data = pd.concat([features, labels], axis=1)

# Menampilkan 20 baris awal dataset
print("=== 20 Baris Awal Dataset ===")
display(merged_data.head(20))

# Menampilkan 20 baris terakhir dataset
print("\n=== 20 Baris Terakhir Dataset ===")
display(merged_data.tail(20))

# Menampilkan baris dari index 80 sampai 100
print("\n=== Baris Index 80 - 100 ===")
display(merged_data.iloc[80:101])

=== 20 Baris Awal Dataset ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,6634,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,...,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,Graduate
1,1,6459,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,Graduate
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,...,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,Graduate
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,...,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,Graduate
4,4,4260,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,...,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79,Dropout
5,5,3544,married,39.0,1.0,9853.0,day,1.0,NaN,Portuguese,...,0.0,7.0,10.0,3.0,13.000000,0.0,11.1,0.6,2.02,Dropout
6,6,4956,single,39.0,1.0,9085.0,day,1.0,133.1,NaN,...,0.0,6.0,14.0,4.0,12.000000,0.0,11.1,0.6,2.02,Dropout
7,7,6758,single,1.0,4.0,9670.0,day,1.0,130.0,Portuguese,...,0.0,6.0,7.0,6.0,13.428571,0.0,8.9,1.4,3.51,Enrolled
8,8,2484,single,1.0,1.0,9773.0,day,1.0,135.0,Portuguese,...,0.0,6.0,7.0,6.0,12.166667,0.0,11.1,0.6,2.02,Graduate
9,9,9845,single,39.0,1.0,9670.0,day,1.0,120.0,Portuguese,...,0.0,5.0,8.0,4.0,11.250000,0.0,7.6,2.6,0.32,Dropout
10,10,3690,single,1.0,1.0,9670.0,day,1.0,133.1,Portuguese,...,0.0,5.0,5.0,NaN,0.000000,0.0,9.4,-0.8,-3.12,Dropout
11,11,2585,single,1.0,1.0,9070.0,day,1.0,117.0,Portuguese,...,0.0,6.0,NaN,4.0,10.750000,2.0,NaN,NaN,-0.92,Graduate
12,12,5241,single,1.0,1.0,171.0,day,1.0,162.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.7,3.7,-1.70,Dropout
13,13,2972,single,1.0,3.0,9500.0,day,1.0,135.0,Portuguese,...,0.0,8.0,11.0,NaN,13.258571,0.0,NaN,1.4,1.74,Graduate
14,14,2003,married,39.0,1.0,8014.0,NaN,NaN,120.0,Portuguese,...,0.0,NaN,8.0,6.0,12.857143,0.0,12.4,0.5,1.79,Graduate
15,15,3007,single,7.0,1.0,9119.0,day,1.0,140.8,Portuguese,...,0.0,5.0,0.0,0.0,0.000000,0.0,7.6,2.6,0.32,Dropout
16,16,9857,single,17.0,1.0,9119.0,day,1.0,132.0,Portuguese,...,0.0,5.0,5.0,0.0,0.000000,0.0,7.6,2.6,0.32,Dropout
17,17,3327,single,NaN,1.0,9003.0,day,19.0,133.1,Portuguese,...,0.0,6.0,16.0,3.0,13.333333,0.0,11.1,0.6,2.02,Dropout
18,18,5235,single,17.0,1.0,171.0,day,1.0,NaN,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,10.8,1.4,1.74,Dropout
19,19,3969,single,1.0,1.0,9085.0,day,1.0,111.0,Portuguese,...,0.0,6.0,12.0,NaN,13.666667,0.0,11.1,0.6,2.02,Graduate

=== 20 Baris Terakhir Dataset ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
3076,3076,6757,single,17.0,NaN,9254.0,day,1.0,122.0,Portuguese,...,0.0,6.0,11.0,3.0,11.333333,0.0,7.6,2.6,0.32,Enrolled
3077,3077,5750,single,1.0,2.0,9500.0,day,1.0,140.0,Portuguese,...,0.0,8.0,8.0,8.0,13.881250,0.0,9.4,-0.8,-3.12,Graduate
3078,3078,2599,single,1.0,1.0,9085.0,day,1.0,131.0,Portuguese,...,0.0,5.0,5.0,NaN,12.800000,0.0,10.8,1.4,1.74,Graduate
3079,3079,3249,single,17.0,1.0,9238.0,day,1.0,120.0,Portuguese,...,0.0,6.0,13.0,2.0,10.666667,0.0,16.2,0.3,-0.92,Dropout
3080,3080,3366,divorced,39.0,1.0,9003.0,day,12.0,133.1,Portuguese,...,10.0,13.0,14.0,13.0,14.230769,NaN,15.5,2.8,-4.06,Graduate
3081,3081,3462,single,39.0,1.0,171.0,day,1.0,147.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,16.2,0.3,-0.92,Dropout
3082,3082,9194,single,17.0,5.0,9147.0,day,1.0,131.0,Portuguese,...,0.0,5.0,11.0,5.0,11.400000,4.0,16.2,NaN,-0.92,Graduate
3083,3083,5574,single,1.0,1.0,9500.0,day,1.0,140.0,Portuguese,...,0.0,8.0,11.0,8.0,14.881818,0.0,16.2,0.3,-0.92,Graduate
3084,3084,8311,single,1.0,2.0,9773.0,day,1.0,130.0,Portuguese,...,0.0,6.0,6.0,6.0,12.333333,0.0,12.4,0.5,1.79,Graduate
3085,3085,2304,single,17.0,1.0,9238.0,day,NaN,139.0,Portuguese,...,0.0,6.0,7.0,6.0,14.000000,0.0,15.5,2.8,-4.06,Graduate
3086,3086,6615,single,43.0,1.0,9556.0,day,1.0,149.0,Portuguese,...,0.0,8.0,8.0,8.0,12.625000,0.0,12.7,3.7,-1.70,Enrolled
3087,3087,3759,single,1.0,1.0,171.0,day,3.0,116.0,Portuguese,...,14.0,17.0,18.0,17.0,11.500000,0.0,11.1,0.6,2.02,Graduate
3088,3088,8085,single,51.0,1.0,9670.0,day,1.0,133.1,Portuguese,...,0.0,6.0,12.0,5.0,13.666667,0.0,11.1,0.6,2.02,Dropout
3089,3089,1573,single,17.0,2.0,171.0,day,1.0,142.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,15.5,2.8,-4.06,Graduate
3090,3090,9737,single,51.0,1.0,9070.0,day,1.0,143.0,Portuguese,...,5.0,11.0,11.0,10.0,11.400000,0.0,11.1,0.6,2.02,Dropout
3091,3091,6176,single,44.0,1.0,9085.0,day,1.0,140.0,Portuguese,...,1.0,6.0,9.0,4.0,11.500000,0.0,13.9,-0.3,0.79,Graduate
3092,3092,8064,single,1.0,5.0,9238.0,day,1.0,126.0,Portuguese,...,0.0,6.0,13.0,3.0,11.000000,0.0,9.4,-0.8,-3.12,Graduate
3093,3093,2103,single,1.0,2.0,9500.0,day,1.0,141.0,Portuguese,...,0.0,8.0,8.0,8.0,14.272500,0.0,15.5,2.8,-4.06,Graduate
3094,3094,8629,single,39.0,1.0,9500.0,day,4.0,150.0,Portuguese,...,2.0,8.0,NaN,7.0,13.306250,0.0,11.1,0.6,2.02,Dropout
3095,3095,6614,single,17.0,1.0,9670.0,day,1.0,118.0,Portuguese,...,0.0,6.0,6.0,6.0,14.000000,0.0,12.4,0.5,1.79,Graduate

=== Baris Index 80 - 100 ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
80,80,1238,single,17.0,1.0,9670.0,day,1.0,155.0,Portuguese,...,NaN,6.0,10.0,4.0,13.000000,0.0,12.7,3.7,-1.70,Enrolled
81,81,4121,single,39.0,1.0,9003.0,day,1.0,NaN,Portuguese,...,0.0,NaN,8.0,0.0,0.000000,0.0,15.5,2.8,-4.06,Dropout
82,82,2890,single,1.0,1.0,171.0,day,1.0,159.0,NaN,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,NaN,1.79,Dropout
83,83,4358,single,1.0,1.0,9147.0,day,1.0,150.0,Ukrainian,...,0.0,5.0,7.0,5.0,13.000000,0.0,9.4,-0.8,-3.12,Graduate
84,84,4896,single,NaN,1.0,9991.0,evening,1.0,140.0,Portuguese,...,0.0,5.0,5.0,NaN,0.000000,0.0,15.5,2.8,-4.06,Dropout
85,85,4735,single,18.0,1.0,9500.0,day,1.0,144.0,Portuguese,...,NaN,8.0,8.0,7.0,13.542857,0.0,12.7,3.7,-1.70,Graduate
86,86,1047,single,1.0,1.0,9773.0,day,1.0,117.0,Portuguese,...,0.0,6.0,11.0,3.0,13.000000,0.0,15.5,2.8,-4.06,Graduate
87,87,7430,single,39.0,2.0,9556.0,day,19.0,133.1,Portuguese,...,0.0,8.0,9.0,8.0,11.962500,0.0,13.9,-0.3,0.79,Graduate
88,88,8527,single,1.0,2.0,9500.0,day,1.0,145.0,Portuguese,...,0.0,7.0,7.0,6.0,12.950000,0.0,7.6,2.6,0.32,Graduate
89,89,5420,single,43.0,1.0,NaN,day,1.0,121.0,Portuguese,...,0.0,6.0,8.0,4.0,11.250000,0.0,9.4,NaN,-3.12,Enrolled
90,90,5625,single,44.0,1.0,9003.0,day,39.0,140.0,Portuguese,...,0.0,6.0,7.0,5.0,12.600000,0.0,12.4,0.5,1.79,Graduate
91,91,8990,NaN,1.0,1.0,9500.0,day,1.0,141.0,Portuguese,...,0.0,8.0,NaN,8.0,12.860000,2.0,9.4,-0.8,-3.12,Graduate
92,92,9143,married,44.0,1.0,9085.0,day,39.0,160.0,Portuguese,...,0.0,5.0,8.0,5.0,12.000000,1.0,9.4,-0.8,-3.12,Graduate
93,93,1944,married,7.0,1.0,9070.0,day,43.0,140.0,Portuguese,...,0.0,6.0,8.0,3.0,11.000000,0.0,11.1,0.6,2.02,Graduate
94,94,3666,single,1.0,3.0,9070.0,day,1.0,125.0,Portuguese,...,0.0,6.0,7.0,6.0,14.000000,NaN,11.1,0.6,2.02,Enrolled
95,95,6960,single,17.0,3.0,9119.0,day,1.0,130.0,Portuguese,...,0.0,5.0,5.0,5.0,14.200000,0.0,8.9,1.4,NaN,Graduate
96,96,7620,single,1.0,1.0,9500.0,day,1.0,157.0,Portuguese,...,0.0,8.0,8.0,8.0,14.035000,0.0,9.4,-0.8,-3.12,Graduate
97,97,6083,single,42.0,1.0,9500.0,day,1.0,150.0,NaN,...,6.0,14.0,20.0,14.0,13.072857,NaN,9.4,-0.8,-3.12,Graduate
98,98,5525,single,17.0,5.0,9238.0,day,1.0,130.0,NaN,...,0.0,6.0,15.0,3.0,10.000000,0.0,9.4,-0.8,-3.12,Enrolled
99,99,6029,single,17.0,1.0,9773.0,day,1.0,136.0,Portuguese,...,0.0,6.0,6.0,6.0,13.166667,0.0,12.7,3.7,-1.70,Graduate
100,100,9749,single,39.0,1.0,9085.0,day,1.0,110.0,Portuguese,...,3.0,7.0,7.0,3.0,11.666667,0.0,8.9,1.4,3.51,Dropout

Berikutnya adalah tahap pemotongan data untuk melihat sampel dari berbagai bagian dataset. Kami menggunakan tiga perintah dasar untuk tujuan ini:

1. .head(20) untuk mengintip 20 baris data pertama.

2. .tail(20) untuk memeriksa 20 baris data terakhir.

3. .iloc[80:101] untuk menampilkan irisan data spesifik, yaitu baris ke-80 hingga ke-100.

Soal Nomor 6

In [10]:
# Import library
import pandas as pd
from sklearn.impute import SimpleImputer

# Membaca dan menggabungkan dataset
features = pd.read_csv('/content/features.csv')
labels = pd.read_csv('/content/labels.csv')

# Gabungkan data berdasarkan kolom yang sama atau secara horizontal
common_cols = list(set(features.columns) & set(labels.columns))
if len(common_cols) > 0:
    merged_data = pd.merge(features, labels, on=common_cols)
else:
    merged_data = pd.concat([features, labels], axis=1)

# Menampilkan data sebelum imputasi
print("=== Data Sebelum Imputasi (cek nilai NaN) ===")
display(merged_data.isnull().sum())

# Membuat objek SimpleImputer (strategi mean)
imputer = SimpleImputer(strategy='mean')

# Terapkan imputasi hanya pada kolom numerik
numeric_cols = merged_data.select_dtypes(include=['float64', 'int64']).columns
merged_data[numeric_cols] = imputer.fit_transform(merged_data[numeric_cols])

# Menampilkan data setelah imputasi
print("\n=== Data Setelah Imputasi (cek nilai NaN) ===")
display(merged_data.isnull().sum())

# Menampilkan sebagian data untuk melihat hasilnya
print("\n=== Cuplikan Data Setelah Imputasi ===")
display(merged_data.head(10))

=== Data Sebelum Imputasi (cek nilai NaN) ===

Unnamed: 0                                          0
Student Id                                          0
Marital status                                     84
Application mode                                  172
Application order                                 108
Course                                            152
Daytime/evening attendance\t                       80
Previous qualification                            123
Previous qualification (grade)                     85
Nacionality                                       185
Mother's qualification                            145
Father's qualification                             96
Mother's occupation                                62
Father's occupation                               144
Admission grade                                   141
Displaced                                         122
Educational special needs                         119
Debtor                                            116
Tuition fees up to date                           156
Gender                                            202
Scholarship holder                                166
Age at enrollment                                 204
International                                     101
Curricular units 1st sem (credited)               208
Curricular units 1st sem (enrolled)               143
Curricular units 1st sem (evaluations)             67
Curricular units 1st sem (approved)               184
Curricular units 1st sem (grade)                   89
Curricular units 1st sem (without evaluations)     73
Curricular units 2nd sem (credited)                61
Curricular units 2nd sem (enrolled)                99
Curricular units 2nd sem (evaluations)            207
Curricular units 2nd sem (approved)               151
Curricular units 2nd sem (grade)                   75
Curricular units 2nd sem (without evaluations)    153
Unemployment rate                                 136
Inflation rate                                    167
GDP                                                64
Target                                              0
dtype: int64

=== Data Setelah Imputasi (cek nilai NaN) ===

Unnamed: 0                                          0
Student Id                                          0
Marital status                                     84
Application mode                                    0
Application order                                   0
Course                                              0
Daytime/evening attendance\t                       80
Previous qualification                              0
Previous qualification (grade)                      0
Nacionality                                       185
Mother's qualification                              0
Father's qualification                              0
Mother's occupation                                 0
Father's occupation                                 0
Admission grade                                     0
Displaced                                           0
Educational special needs                           0
Debtor                                              0
Tuition fees up to date                             0
Gender                                              0
Scholarship holder                                  0
Age at enrollment                                   0
International                                       0
Curricular units 1st sem (credited)                 0
Curricular units 1st sem (enrolled)                 0
Curricular units 1st sem (evaluations)              0
Curricular units 1st sem (approved)                 0
Curricular units 1st sem (grade)                    0
Curricular units 1st sem (without evaluations)      0
Curricular units 2nd sem (credited)                 0
Curricular units 2nd sem (enrolled)                 0
Curricular units 2nd sem (evaluations)              0
Curricular units 2nd sem (approved)                 0
Curricular units 2nd sem (grade)                    0
Curricular units 2nd sem (without evaluations)      0
Unemployment rate                                   0
Inflation rate                                      0
GDP                                                 0
Target                                              0
dtype: int64

=== Cuplikan Data Setelah Imputasi ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0.0,6634.0,single,1.0,3.0,9773.000000,day,1.0,132.647293,Portuguese,...,0.0,6.0,6.000000,6.0,15.333333,0.0,11.1,0.6,2.02,Graduate
1,1.0,6459.0,single,1.0,1.0,8817.929348,day,1.0,136.000000,Portuguese,...,0.0,0.0,0.000000,0.0,0.000000,0.0,12.4,0.5,1.79,Graduate
2,2.0,2238.0,single,42.0,1.0,9500.000000,day,1.0,120.000000,Portuguese,...,4.0,8.0,8.000000,7.0,13.285714,0.0,12.7,3.7,-1.70,Graduate
3,3.0,2479.0,single,1.0,1.0,8817.929348,day,1.0,141.000000,Portuguese,...,0.0,6.0,7.000000,6.0,13.142857,0.0,11.1,0.6,2.02,Graduate
4,4.0,4260.0,single,44.0,1.0,8817.929348,day,39.0,120.000000,Spanish,...,1.0,6.0,8.061613,3.0,12.000000,0.0,12.4,0.5,1.79,Dropout
5,5.0,3544.0,married,39.0,1.0,9853.000000,day,1.0,132.647293,Portuguese,...,0.0,7.0,10.000000,3.0,13.000000,0.0,11.1,0.6,2.02,Dropout
6,6.0,4956.0,single,39.0,1.0,9085.000000,day,1.0,133.100000,NaN,...,0.0,6.0,14.000000,4.0,12.000000,0.0,11.1,0.6,2.02,Dropout
7,7.0,6758.0,single,1.0,4.0,9670.000000,day,1.0,130.000000,Portuguese,...,0.0,6.0,7.000000,6.0,13.428571,0.0,8.9,1.4,3.51,Enrolled
8,8.0,2484.0,single,1.0,1.0,9773.000000,day,1.0,135.000000,Portuguese,...,0.0,6.0,7.000000,6.0,12.166667,0.0,11.1,0.6,2.02,Graduate
9,9.0,9845.0,single,39.0,1.0,9670.000000,day,1.0,120.000000,Portuguese,...,0.0,5.0,8.000000,4.0,11.250000,0.0,7.6,2.6,0.32,Dropout

Pada tahap ini, dilakukan proses penanganan nilai yang hilang (missing values), yang diidentifikasi sebagai NaN. Langkah-langkahnya adalah sebagai berikut:

1. Pertama, dataset features dan labels disatukan menjadi satu tabel data.

2. Jumlah nilai NaN di setiap kolom dihitung terlebih dahulu menggunakan .isnull().sum() untuk mengetahui kondisi awal data.

3. Selanjutnya, sebuah strategi imputasi disiapkan menggunakan SimpleImputer dengan metode 'mean', yang bertujuan untuk mengisi setiap nilai kosong dengan nilai rata-rata dari kolomnya masing-masing.

4. Penting untuk dicatat bahwa strategi ini hanya diterapkan pada kolom-kolom numerik untuk menghindari error dan menjaga integritas data kategorikal.

5. Setelah proses imputasi selesai, dilakukan verifikasi ulang untuk memastikan bahwa sudah tidak ada lagi nilai yang hilang di dalam dataset.

Melalui metode ini, semua nilai kosong pada kolom numerik berhasil diisi, menghasilkan dataset yang utuh dan siap untuk tahap analisis atau pemodelan machine learning lebih lanjut tanpa terkendala oleh missing values.

Soal Nomor 7

In [11]:
# Import library
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Membaca dan menggabungkan dataset
features = pd.read_csv('/content/features.csv')
labels = pd.read_csv('/content/labels.csv')

# Gabungkan dataset berdasarkan kolom yang sama
common_cols = list(set(features.columns) & set(labels.columns))
if len(common_cols) > 0:
    merged_data = pd.merge(features, labels, on=common_cols)
else:
    merged_data = pd.concat([features, labels], axis=1)

# Menampilkan tipe data awal
print("=== Tipe Data Sebelum Encoding ===")
print(merged_data.dtypes)

# Menentukan kolom dengan tipe data object (kategori)
categorical_cols = merged_data.select_dtypes(include=['object']).columns
print("\nKolom kategorikal yang akan di-encode:", list(categorical_cols))

# Melakukan encoding menggunakan LabelEncoder
le = LabelEncoder()
for col in categorical_cols:
    merged_data[col] = le.fit_transform(merged_data[col].astype(str))

# Menampilkan hasil setelah encoding
print("\n=== Dataset Setelah Encoding ===")
display(merged_data.head())

# Menampilkan tipe data baru
print("\n=== Tipe Data Setelah Encoding ===")
print(merged_data.dtypes)

=== Tipe Data Sebelum Encoding ===
Unnamed: 0                                          int64
Student Id                                          int64
Marital status                                     object
Application mode                                  float64
Application order                                 float64
Course                                            float64
Daytime/evening attendance\t                       object
Previous qualification                            float64
Previous qualification (grade)                    float64
Nacionality                                        object
Mother's qualification                            float64
Father's qualification                            float64
Mother's occupation                               float64
Father's occupation                               float64
Admission grade                                   float64
Displaced                                         float64
Educational special needs                         float64
Debtor                                            float64
Tuition fees up to date                           float64
Gender                                            float64
Scholarship holder                                float64
Age at enrollment                                 float64
International                                     float64
Curricular units 1st sem (credited)               float64
Curricular units 1st sem (enrolled)               float64
Curricular units 1st sem (evaluations)            float64
Curricular units 1st sem (approved)               float64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)    float64
Curricular units 2nd sem (credited)               float64
Curricular units 2nd sem (enrolled)               float64
Curricular units 2nd sem (evaluations)            float64
Curricular units 2nd sem (approved)               float64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)    float64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                             object
dtype: object

Kolom kategorikal yang akan di-encode: ['Marital status', 'Daytime/evening attendance\t', 'Nacionality', 'Target']

=== Dataset Setelah Encoding ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,6634,5,1.0,3.0,9773.0,0,1.0,NaN,13,...,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,2
1,1,6459,5,1.0,1.0,NaN,0,1.0,136.0,13,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,2
2,2,2238,5,42.0,1.0,9500.0,0,1.0,120.0,13,...,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,2
3,3,2479,5,1.0,1.0,NaN,0,1.0,141.0,13,...,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,2
4,4,4260,5,44.0,1.0,NaN,0,39.0,120.0,17,...,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79,0

=== Tipe Data Setelah Encoding ===
Unnamed: 0                                          int64
Student Id                                          int64
Marital status                                      int64
Application mode                                  float64
Application order                                 float64
Course                                            float64
Daytime/evening attendance\t                        int64
Previous qualification                            float64
Previous qualification (grade)                    float64
Nacionality                                         int64
Mother's qualification                            float64
Father's qualification                            float64
Mother's occupation                               float64
Father's occupation                               float64
Admission grade                                   float64
Displaced                                         float64
Educational special needs                         float64
Debtor                                            float64
Tuition fees up to date                           float64
Gender                                            float64
Scholarship holder                                float64
Age at enrollment                                 float64
International                                     float64
Curricular units 1st sem (credited)               float64
Curricular units 1st sem (enrolled)               float64
Curricular units 1st sem (evaluations)            float64
Curricular units 1st sem (approved)               float64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)    float64
Curricular units 2nd sem (credited)               float64
Curricular units 2nd sem (enrolled)               float64
Curricular units 2nd sem (evaluations)            float64
Curricular units 2nd sem (approved)               float64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)    float64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                              int64
dtype: object

Pada tahap ini, dilakukan transformasi data kategorikal menjadi format numerik agar dapat diolah oleh algoritma machine learning. Prosesnya adalah sebagai berikut:

1. Pertama, dataset features dan labels disatukan.

2. Selanjutnya, program secara otomatis mengidentifikasi semua kolom yang berisi data non-numerik (tipe object).

3. Setiap kolom yang teridentifikasi kemudian diproses menggunakan LabelEncoder. Alat ini bekerja dengan memberikan sebuah "label" angka unik (misalnya, 0, 1, 2, ...) untuk setiap kategori teks yang berbeda di dalam kolom tersebut.

4. Terakhir, dataset hasil transformasi dan tipe datanya ditampilkan kembali untuk memverifikasi bahwa semua kolom telah berhasil diubah menjadi format numerik.

Soal Nomor 8

In [12]:
# Import library
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

# Membaca dataset
features = pd.read_csv('/content/features.csv')
labels = pd.read_csv('/content/labels.csv')

# Gabungkan dataset (cleaning)
common_cols = list(set(features.columns) & set(labels.columns))
if len(common_cols) > 0:
    merged_data = pd.merge(features, labels, on=common_cols)
else:
    merged_data = pd.concat([features, labels], axis=1)

# Imputasi nilai hilang (NaN) menggunakan mean
imputer = SimpleImputer(strategy='mean')
numeric_cols = merged_data.select_dtypes(include=['float64', 'int64']).columns
merged_data[numeric_cols] = imputer.fit_transform(merged_data[numeric_cols])

# Encoding kolom kategorikal menggunakan LabelEncoder
categorical_cols = merged_data.select_dtypes(include=['object']).columns
le = LabelEncoder()
for col in categorical_cols:
    merged_data[col] = le.fit_transform(merged_data[col].astype(str))

# Menampilkan dataset akhir setelah semua preprocessing
print("=== Dataset Akhir Setelah Preprocessing Lengkap ===")
display(merged_data.head(20))

# Mengecek ulang apakah masih ada nilai NaN
print("\n=== Cek Nilai NaN Setelah Semua Tahapan ===")
print(merged_data.isnull().sum())

=== Dataset Akhir Setelah Preprocessing Lengkap ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0.0,6634.0,5,1.000000,3.0,9773.000000,0,1.000000,132.647293,13,...,0.0,6.000000,6.000000,6.000000,15.333333,0.0,11.100000,0.600000,2.02,2
1,1.0,6459.0,5,1.000000,1.0,8817.929348,0,1.000000,136.000000,13,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,12.400000,0.500000,1.79,2
2,2.0,2238.0,5,42.000000,1.0,9500.000000,0,1.000000,120.000000,13,...,4.0,8.000000,8.000000,7.000000,13.285714,0.0,12.700000,3.700000,-1.70,2
3,3.0,2479.0,5,1.000000,1.0,8817.929348,0,1.000000,141.000000,13,...,0.0,6.000000,7.000000,6.000000,13.142857,0.0,11.100000,0.600000,2.02,2
4,4.0,4260.0,5,44.000000,1.0,8817.929348,0,39.000000,120.000000,17,...,1.0,6.000000,8.061613,3.000000,12.000000,0.0,12.400000,0.500000,1.79,0
5,5.0,3544.0,3,39.000000,1.0,9853.000000,0,1.000000,132.647293,13,...,0.0,7.000000,10.000000,3.000000,13.000000,0.0,11.100000,0.600000,2.02,0
6,6.0,4956.0,5,39.000000,1.0,9085.000000,0,1.000000,133.100000,19,...,0.0,6.000000,14.000000,4.000000,12.000000,0.0,11.100000,0.600000,2.02,0
7,7.0,6758.0,5,1.000000,4.0,9670.000000,0,1.000000,130.000000,13,...,0.0,6.000000,7.000000,6.000000,13.428571,0.0,8.900000,1.400000,3.51,1
8,8.0,2484.0,5,1.000000,1.0,9773.000000,0,1.000000,135.000000,13,...,0.0,6.000000,7.000000,6.000000,12.166667,0.0,11.100000,0.600000,2.02,2
9,9.0,9845.0,5,39.000000,1.0,9670.000000,0,1.000000,120.000000,13,...,0.0,5.000000,8.000000,4.000000,11.250000,0.0,7.600000,2.600000,0.32,0
10,10.0,3690.0,5,1.000000,1.0,9670.000000,0,1.000000,133.100000,13,...,0.0,5.000000,5.000000,4.422411,0.000000,0.0,9.400000,-0.800000,-3.12,0
11,11.0,2585.0,5,1.000000,1.0,9070.000000,0,1.000000,117.000000,13,...,0.0,6.000000,8.061613,4.000000,10.750000,2.0,11.549561,1.215534,-0.92,2
12,12.0,5241.0,5,1.000000,1.0,171.000000,0,1.000000,162.000000,13,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,12.700000,3.700000,-1.70,0
13,13.0,2972.0,5,1.000000,3.0,9500.000000,0,1.000000,135.000000,13,...,0.0,8.000000,11.000000,4.422411,13.258571,0.0,11.549561,1.400000,1.74,2
14,14.0,2003.0,3,39.000000,1.0,8014.000000,2,4.685503,120.000000,13,...,0.0,6.208876,8.000000,6.000000,12.857143,0.0,12.400000,0.500000,1.79,2
15,15.0,3007.0,5,7.000000,1.0,9119.000000,0,1.000000,140.800000,13,...,0.0,5.000000,0.000000,0.000000,0.000000,0.0,7.600000,2.600000,0.32,0
16,16.0,9857.0,5,17.000000,1.0,9119.000000,0,1.000000,132.000000,13,...,0.0,5.000000,5.000000,0.000000,0.000000,0.0,7.600000,2.600000,0.32,0
17,17.0,3327.0,5,18.785568,1.0,9003.000000,0,19.000000,133.100000,13,...,0.0,6.000000,16.000000,3.000000,13.333333,0.0,11.100000,0.600000,2.02,0
18,18.0,5235.0,5,17.000000,1.0,171.000000,0,1.000000,132.647293,13,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,10.800000,1.400000,1.74,0
19,19.0,3969.0,5,1.000000,1.0,9085.000000,0,1.000000,111.000000,13,...,0.0,6.000000,12.000000,4.422411,13.666667,0.0,11.100000,0.600000,2.02,2

=== Cek Nilai NaN Setelah Semua Tahapan ===
Unnamed: 0                                        0
Student Id                                        0
Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance\t                      0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

Tahapan ini menampilkan wujud final dari dataset yang telah melewati seluruh rangkaian prapemrosesan. Secara berurutan, proses yang telah dilakukan meliputi:

1. Penggabungan Data: Menyatukan informasi dari features dan labels ke dalam satu tabel yang koheren.

2. Imputasi Nilai Hilang: Mengisi semua sel data yang kosong (NaN) pada kolom numerik dengan nilai rata-rata (mean) dari masing-masing kolom.

3. Encoding Kategorikal: Mentransformasikan semua data yang bersifat tekstual menjadi representasi numerik menggunakan LabelEncoder.

Dataset yang ditampilkan pada output ini merupakan hasil akhir yang sudah bersih, lengkap, dan seragam secara tipe data, sehingga sepenuhnya siap untuk digunakan pada tahap pemodelan machine learning.