In [21]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

In [22]:
train_features = pd.read_csv("/content/features.csv")
train_labels = pd.read_csv("/content/labels.csv")

In [23]:
print(train_features)
# trains_features

      Unnamed: 0  Student Id Marital status  Application mode  \
0              0        6634         single               1.0
1              1        6459         single               1.0
2              2        2238         single              42.0
3              3        2479         single               1.0
4              4        4260         single              44.0
...          ...         ...            ...               ...
3091        3091        6176         single              44.0
3092        3092        8064         single               1.0
3093        3093        2103         single               1.0
3094        3094        8629         single              39.0
3095        3095        6614         single              17.0

      Application order  Course Daytime/evening attendance\t  \
0                   3.0  9773.0                          day
1                   1.0     NaN                          day
2                   1.0  9500.0                          day
3                   1.0     NaN                          day
4                   1.0     NaN                          day
...                 ...     ...                          ...
3091                1.0  9085.0                          day
3092                5.0  9238.0                          day
3093                2.0  9500.0                          day
3094                1.0  9500.0                          day
3095                1.0  9670.0                          day

      Previous qualification  Previous qualification (grade) Nacionality  ...  \
0                        1.0                             NaN  Portuguese  ...
1                        1.0                           136.0  Portuguese  ...
2                        1.0                           120.0  Portuguese  ...
3                        1.0                           141.0  Portuguese  ...
4                       39.0                           120.0     Spanish  ...
...                      ...                             ...         ...  ...
3091                     1.0                           140.0  Portuguese  ...
3092                     1.0                           126.0  Portuguese  ...
3093                     1.0                           141.0  Portuguese  ...
3094                     4.0                           150.0  Portuguese  ...
3095                     1.0                           118.0  Portuguese  ...

      Curricular units 1st sem (without evaluations)  \
0                                                0.0
1                                                0.0
2                                                0.0
3                                                0.0
4                                                0.0
...                                              ...
3091                                             0.0
3092                                             0.0
3093                                             0.0
3094                                             0.0
3095                                             NaN

      Curricular units 2nd sem (credited)  \
0                                     0.0
1                                     0.0
2                                     4.0
3                                     0.0
4                                     1.0
...                                   ...
3091                                  1.0
3092                                  0.0
3093                                  0.0
3094                                  2.0
3095                                  0.0

      Curricular units 2nd sem (enrolled)  \
0                                     6.0
1                                     0.0
2                                     8.0
3                                     6.0
4                                     6.0
...                                   ...
3091                                  6.0
3092                                  6.0
3093                                  8.0
3094                                  8.0
3095                                  6.0

      Curricular units 2nd sem (evaluations)  \
0                                        6.0
1                                        0.0
2                                        8.0
3                                        7.0
4                                        NaN
...                                      ...
3091                                     9.0
3092                                    13.0
3093                                     8.0
3094                                     NaN
3095                                     6.0

      Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                     6.0                         15.333333
1                                     0.0                          0.000000
2                                     7.0                         13.285714
3                                     6.0                         13.142857
4                                     3.0                         12.000000
...                                   ...                               ...
3091                                  4.0                         11.500000
3092                                  3.0                         11.000000
3093                                  8.0                         14.272500
3094                                  7.0                         13.306250
3095                                  6.0                         14.000000

      Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                                0.0               11.1
1                                                0.0               12.4
2                                                0.0               12.7
3                                                0.0               11.1
4                                                0.0               12.4
...                                              ...                ...
3091                                             0.0               13.9
3092                                             0.0                9.4
3093                                             0.0               15.5
3094                                             0.0               11.1
3095                                             0.0               12.4

      Inflation rate   GDP
0                0.6  2.02
1                0.5  1.79
2                3.7 -1.70
3                0.6  2.02
4                0.5  1.79
...              ...   ...
3091            -0.3  0.79
3092            -0.8 -3.12
3093             2.8 -4.06
3094             0.6  2.02
3095             0.5  1.79

[3096 rows x 38 columns]

In [24]:
print(train_labels)
# trains_labels

        Target
0     Graduate
1     Graduate
2     Graduate
3     Graduate
4      Dropout
...        ...
3091  Graduate
3092  Graduate
3093  Graduate
3094   Dropout
3095  Graduate

[3096 rows x 1 columns]



Berikut adalah penjelasan untuk setiap kolom pada dataset:

    Unnamed: 0: Kolom indeks yang dihasilkan saat menyimpan CSV.
    Student Id: ID unik untuk setiap siswa.
    Marital status: Status perkawinan siswa.
    Application mode: Mode aplikasi yang digunakan siswa.
    Application order: Urutan aplikasi siswa.
    Course: Kode kursus yang diambil siswa.
    Daytime/evening attendance: Kehadiran siswa (siang/malam).
    Previous qualification: Kualifikasi sebelumnya dari siswa.
    Previous qualification (grade): Nilai kualifikasi sebelumnya.
    Nacionality: Kebangsaan siswa.
    Mother's qualification: Kualifikasi ibu siswa.
    Father's qualification: Kualifikasi ayah siswa.
    Mother's occupation: Pekerjaan ibu siswa.
    Father's occupation: Pekerjaan ayah siswa.
    Admission grade: Nilai penerimaan siswa.
    Displaced: Apakah siswa mengungsi.
    Educational special needs: Apakah siswa memiliki kebutuhan pendidikan khusus.
    Debtor: Apakah siswa memiliki tunggakan.
    Tuition fees up to date: Apakah biaya kuliah siswa sudah lunas.
    Gender: Jenis kelamin siswa.
    Scholarship holder: Apakah siswa penerima beasiswa.
    Age at enrollment: Usia siswa saat mendaftar.
    International: Apakah siswa internasional.
    Curricular units 1st sem (credited): Unit kurikuler semester 1 yang dikreditkan.
    Curricular units 1st sem (enrolled): Unit kurikuler semester 1 yang terdaftar.
    Curricular units 1st sem (evaluations): Unit kurikuler semester 1 yang dievaluasi.
    Curricular units 1st sem (approved): Unit kurikuler semester 1 yang disetujui.
    Curricular units 1st sem (grade): Nilai unit kurikuler semester 1.
    Curricular units 1st sem (without evaluations): Unit kurikuler semester 1 tanpa evaluasi.
    Curricular units 2nd sem (credited): Unit kurikuler semester 2 yang dikreditkan.
    Curricular units 2nd sem (enrolled): Unit kurikuler semester 2 yang terdaftar.
    Curricular units 2nd sem (evaluations): Unit kurikuler semester 2 yang dievaluasi.
    Curricular units 2nd sem (approved): Unit kurikuler semester 2 yang disetujui.
    Curricular units 2nd sem (grade): Nilai unit kurikuler semester 2.
    Curricular units 2nd sem (without evaluations): Unit kurikuler semester 2 tanpa evaluasi.
    Unemployment rate: Tingkat pengangguran.
    Inflation rate: Tingkat inflasi.
    GDP: Produk Domestik Bruto.
    Target: Status siswa (Lulus, Putus Sekolah, Terdaftar).

In [25]:
df = pd.concat([train_features, train_labels], axis=1)
df

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,6634,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,...,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,Graduate
1,1,6459,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,Graduate
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,...,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,Graduate
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,...,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,Graduate
4,4,4260,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,...,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79,Dropout
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3091,3091,6176,single,44.0,1.0,9085.0,day,1.0,140.0,Portuguese,...,1.0,6.0,9.0,4.0,11.500000,0.0,13.9,-0.3,0.79,Graduate
3092,3092,8064,single,1.0,5.0,9238.0,day,1.0,126.0,Portuguese,...,0.0,6.0,13.0,3.0,11.000000,0.0,9.4,-0.8,-3.12,Graduate
3093,3093,2103,single,1.0,2.0,9500.0,day,1.0,141.0,Portuguese,...,0.0,8.0,8.0,8.0,14.272500,0.0,15.5,2.8,-4.06,Graduate
3094,3094,8629,single,39.0,1.0,9500.0,day,4.0,150.0,Portuguese,...,2.0,8.0,NaN,7.0,13.306250,0.0,11.1,0.6,2.02,Dropout
3095,3095,6614,single,17.0,1.0,9670.0,day,1.0,118.0,Portuguese,...,0.0,6.0,6.0,6.0,14.000000,0.0,12.4,0.5,1.79,Graduate

3. Menampilkan tipe data dari setiap kolom yang terdapat dalam dataset

In [26]:
df.dtypes

Unnamed: 0                                          int64
Student Id                                          int64
Marital status                                     object
Application mode                                  float64
Application order                                 float64
Course                                            float64
Daytime/evening attendance\t                       object
Previous qualification                            float64
Previous qualification (grade)                    float64
Nacionality                                        object
Mother's qualification                            float64
Father's qualification                            float64
Mother's occupation                               float64
Father's occupation                               float64
Admission grade                                   float64
Displaced                                         float64
Educational special needs                         float64
Debtor                                            float64
Tuition fees up to date                           float64
Gender                                            float64
Scholarship holder                                float64
Age at enrollment                                 float64
International                                     float64
Curricular units 1st sem (credited)               float64
Curricular units 1st sem (enrolled)               float64
Curricular units 1st sem (evaluations)            float64
Curricular units 1st sem (approved)               float64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)    float64
Curricular units 2nd sem (credited)               float64
Curricular units 2nd sem (enrolled)               float64
Curricular units 2nd sem (evaluations)            float64
Curricular units 2nd sem (approved)               float64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)    float64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                             object
dtype: object

4. menampilkan statistik deskriptif dari dataset dan berikan analisis singkat mengenai hasilnya

In [27]:
df.describe()

,Unnamed: 0,Student Id,Application mode,Application order,Course,Previous qualification,Previous qualification (grade),Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
count,3096.000000,3096.000000,2924.000000,2988.000000,2944.000000,2973.000000,3011.000000,2951.000000,3000.000000,3034.000000,...,3023.000000,3035.000000,2997.000000,2889.000000,2945.000000,3021.000000,2943.000000,2960.000000,2929.000000,3032.000000
mean,1547.500000,5470.623062,18.785568,1.734940,8817.929348,4.685503,132.647293,19.470010,22.408667,11.495715,...,0.133311,0.516639,6.208876,8.061613,4.422411,10.275115,0.139314,11.549561,1.215534,0.028278
std,893.882543,2582.483019,17.532674,1.327527,2148.407432,10.439709,13.322662,15.636952,15.291008,28.173386,...,0.666707,1.840537,2.185127,3.942850,2.982200,5.177672,0.709478,2.651675,1.377709,2.273157
min,0.000000,1000.000000,1.000000,1.000000,33.000000,1.000000,95.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.600000,-0.800000,-4.060000
25%,773.750000,3288.500000,1.000000,1.000000,9085.000000,1.000000,124.000000,2.000000,3.000000,4.000000,...,0.000000,0.000000,5.000000,6.000000,2.000000,10.800000,0.000000,9.400000,0.300000,-1.700000
50%,1547.500000,5441.500000,17.000000,1.000000,9238.000000,1.000000,133.100000,19.000000,19.000000,5.000000,...,0.000000,0.000000,6.000000,8.000000,5.000000,12.250000,0.000000,11.100000,1.400000,0.320000
75%,2321.250000,7712.250000,39.000000,2.000000,9556.000000,1.000000,140.000000,37.000000,37.000000,9.000000,...,0.000000,0.000000,7.000000,10.000000,6.000000,13.333333,0.000000,13.900000,2.600000,1.790000
max,3095.000000,9997.000000,53.000000,9.000000,9991.000000,43.000000,190.000000,44.000000,44.000000,194.000000,...,10.000000,19.000000,23.000000,27.000000,20.000000,18.571429,12.000000,16.200000,3.700000,3.510000

Analisis deskriptif dari dataset:

Output dari `df.describe()` memberikan ringkasan statistik untuk kolom-kolom numerik dalam dataset. Beberapa poin penting yang dapat diamati adalah:

*   **Count:** Menunjukkan jumlah nilai non-null untuk setiap kolom. Terlihat bahwa ada beberapa kolom dengan jumlah nilai yang kurang dari total baris (3096), menandakan adanya nilai yang hilang (NaN).
*   **Mean:** Rata-rata nilai untuk setiap kolom. Ini memberikan gambaran tentang nilai pusat dari distribusi data.
*   **Std:** Standar deviasi, mengukur sebaran data dari rata-rata. Nilai standar deviasi yang tinggi menunjukkan sebaran data yang lebih luas.
*   **Min dan Max:** Menunjukkan nilai minimum dan maksimum dalam setiap kolom. Ini membantu mengidentifikasi rentang nilai data.
*   **25%, 50%, 75% (Quartiles):** Menunjukkan kuartil pertama, median (kuartil kedua), dan kuartil ketiga. Ini memberikan wawasan tentang distribusi data dan keberadaan outlier.

Dari analisis ini, kita dapat melihat adanya variasi yang signifikan dalam beberapa kolom, serta keberadaan nilai yang hilang yang perlu ditangani lebih lanjut.

5. slicing data

In [28]:
# menampilkan 20 baris awal dari dataset
df.head(20)

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,6634,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,...,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,Graduate
1,1,6459,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,Graduate
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,...,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,Graduate
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,...,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,Graduate
4,4,4260,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,...,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79,Dropout
5,5,3544,married,39.0,1.0,9853.0,day,1.0,NaN,Portuguese,...,0.0,7.0,10.0,3.0,13.000000,0.0,11.1,0.6,2.02,Dropout
6,6,4956,single,39.0,1.0,9085.0,day,1.0,133.1,NaN,...,0.0,6.0,14.0,4.0,12.000000,0.0,11.1,0.6,2.02,Dropout
7,7,6758,single,1.0,4.0,9670.0,day,1.0,130.0,Portuguese,...,0.0,6.0,7.0,6.0,13.428571,0.0,8.9,1.4,3.51,Enrolled
8,8,2484,single,1.0,1.0,9773.0,day,1.0,135.0,Portuguese,...,0.0,6.0,7.0,6.0,12.166667,0.0,11.1,0.6,2.02,Graduate
9,9,9845,single,39.0,1.0,9670.0,day,1.0,120.0,Portuguese,...,0.0,5.0,8.0,4.0,11.250000,0.0,7.6,2.6,0.32,Dropout
10,10,3690,single,1.0,1.0,9670.0,day,1.0,133.1,Portuguese,...,0.0,5.0,5.0,NaN,0.000000,0.0,9.4,-0.8,-3.12,Dropout
11,11,2585,single,1.0,1.0,9070.0,day,1.0,117.0,Portuguese,...,0.0,6.0,NaN,4.0,10.750000,2.0,NaN,NaN,-0.92,Graduate
12,12,5241,single,1.0,1.0,171.0,day,1.0,162.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.7,3.7,-1.70,Dropout
13,13,2972,single,1.0,3.0,9500.0,day,1.0,135.0,Portuguese,...,0.0,8.0,11.0,NaN,13.258571,0.0,NaN,1.4,1.74,Graduate
14,14,2003,married,39.0,1.0,8014.0,NaN,NaN,120.0,Portuguese,...,0.0,NaN,8.0,6.0,12.857143,0.0,12.4,0.5,1.79,Graduate
15,15,3007,single,7.0,1.0,9119.0,day,1.0,140.8,Portuguese,...,0.0,5.0,0.0,0.0,0.000000,0.0,7.6,2.6,0.32,Dropout
16,16,9857,single,17.0,1.0,9119.0,day,1.0,132.0,Portuguese,...,0.0,5.0,5.0,0.0,0.000000,0.0,7.6,2.6,0.32,Dropout
17,17,3327,single,NaN,1.0,9003.0,day,19.0,133.1,Portuguese,...,0.0,6.0,16.0,3.0,13.333333,0.0,11.1,0.6,2.02,Dropout
18,18,5235,single,17.0,1.0,171.0,day,1.0,NaN,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,10.8,1.4,1.74,Dropout
19,19,3969,single,1.0,1.0,9085.0,day,1.0,111.0,Portuguese,...,0.0,6.0,12.0,NaN,13.666667,0.0,11.1,0.6,2.02,Graduate

In [29]:
# menampilkan 20 baris terakhir
df.tail(20)

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
3076,3076,6757,single,17.0,NaN,9254.0,day,1.0,122.0,Portuguese,...,0.0,6.0,11.0,3.0,11.333333,0.0,7.6,2.6,0.32,Enrolled
3077,3077,5750,single,1.0,2.0,9500.0,day,1.0,140.0,Portuguese,...,0.0,8.0,8.0,8.0,13.881250,0.0,9.4,-0.8,-3.12,Graduate
3078,3078,2599,single,1.0,1.0,9085.0,day,1.0,131.0,Portuguese,...,0.0,5.0,5.0,NaN,12.800000,0.0,10.8,1.4,1.74,Graduate
3079,3079,3249,single,17.0,1.0,9238.0,day,1.0,120.0,Portuguese,...,0.0,6.0,13.0,2.0,10.666667,0.0,16.2,0.3,-0.92,Dropout
3080,3080,3366,divorced,39.0,1.0,9003.0,day,12.0,133.1,Portuguese,...,10.0,13.0,14.0,13.0,14.230769,NaN,15.5,2.8,-4.06,Graduate
3081,3081,3462,single,39.0,1.0,171.0,day,1.0,147.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,16.2,0.3,-0.92,Dropout
3082,3082,9194,single,17.0,5.0,9147.0,day,1.0,131.0,Portuguese,...,0.0,5.0,11.0,5.0,11.400000,4.0,16.2,NaN,-0.92,Graduate
3083,3083,5574,single,1.0,1.0,9500.0,day,1.0,140.0,Portuguese,...,0.0,8.0,11.0,8.0,14.881818,0.0,16.2,0.3,-0.92,Graduate
3084,3084,8311,single,1.0,2.0,9773.0,day,1.0,130.0,Portuguese,...,0.0,6.0,6.0,6.0,12.333333,0.0,12.4,0.5,1.79,Graduate
3085,3085,2304,single,17.0,1.0,9238.0,day,NaN,139.0,Portuguese,...,0.0,6.0,7.0,6.0,14.000000,0.0,15.5,2.8,-4.06,Graduate
3086,3086,6615,single,43.0,1.0,9556.0,day,1.0,149.0,Portuguese,...,0.0,8.0,8.0,8.0,12.625000,0.0,12.7,3.7,-1.70,Enrolled
3087,3087,3759,single,1.0,1.0,171.0,day,3.0,116.0,Portuguese,...,14.0,17.0,18.0,17.0,11.500000,0.0,11.1,0.6,2.02,Graduate
3088,3088,8085,single,51.0,1.0,9670.0,day,1.0,133.1,Portuguese,...,0.0,6.0,12.0,5.0,13.666667,0.0,11.1,0.6,2.02,Dropout
3089,3089,1573,single,17.0,2.0,171.0,day,1.0,142.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,15.5,2.8,-4.06,Graduate
3090,3090,9737,single,51.0,1.0,9070.0,day,1.0,143.0,Portuguese,...,5.0,11.0,11.0,10.0,11.400000,0.0,11.1,0.6,2.02,Dropout
3091,3091,6176,single,44.0,1.0,9085.0,day,1.0,140.0,Portuguese,...,1.0,6.0,9.0,4.0,11.500000,0.0,13.9,-0.3,0.79,Graduate
3092,3092,8064,single,1.0,5.0,9238.0,day,1.0,126.0,Portuguese,...,0.0,6.0,13.0,3.0,11.000000,0.0,9.4,-0.8,-3.12,Graduate
3093,3093,2103,single,1.0,2.0,9500.0,day,1.0,141.0,Portuguese,...,0.0,8.0,8.0,8.0,14.272500,0.0,15.5,2.8,-4.06,Graduate
3094,3094,8629,single,39.0,1.0,9500.0,day,4.0,150.0,Portuguese,...,2.0,8.0,NaN,7.0,13.306250,0.0,11.1,0.6,2.02,Dropout
3095,3095,6614,single,17.0,1.0,9670.0,day,1.0,118.0,Portuguese,...,0.0,6.0,6.0,6.0,14.000000,0.0,12.4,0.5,1.79,Graduate

In [30]:
# menampilkan baris dari index 80-100
display(df.iloc[80:101])

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
80,80,1238,single,17.0,1.0,9670.0,day,1.0,155.0,Portuguese,...,NaN,6.0,10.0,4.0,13.000000,0.0,12.7,3.7,-1.70,Enrolled
81,81,4121,single,39.0,1.0,9003.0,day,1.0,NaN,Portuguese,...,0.0,NaN,8.0,0.0,0.000000,0.0,15.5,2.8,-4.06,Dropout
82,82,2890,single,1.0,1.0,171.0,day,1.0,159.0,NaN,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,NaN,1.79,Dropout
83,83,4358,single,1.0,1.0,9147.0,day,1.0,150.0,Ukrainian,...,0.0,5.0,7.0,5.0,13.000000,0.0,9.4,-0.8,-3.12,Graduate
84,84,4896,single,NaN,1.0,9991.0,evening,1.0,140.0,Portuguese,...,0.0,5.0,5.0,NaN,0.000000,0.0,15.5,2.8,-4.06,Dropout
85,85,4735,single,18.0,1.0,9500.0,day,1.0,144.0,Portuguese,...,NaN,8.0,8.0,7.0,13.542857,0.0,12.7,3.7,-1.70,Graduate
86,86,1047,single,1.0,1.0,9773.0,day,1.0,117.0,Portuguese,...,0.0,6.0,11.0,3.0,13.000000,0.0,15.5,2.8,-4.06,Graduate
87,87,7430,single,39.0,2.0,9556.0,day,19.0,133.1,Portuguese,...,0.0,8.0,9.0,8.0,11.962500,0.0,13.9,-0.3,0.79,Graduate
88,88,8527,single,1.0,2.0,9500.0,day,1.0,145.0,Portuguese,...,0.0,7.0,7.0,6.0,12.950000,0.0,7.6,2.6,0.32,Graduate
89,89,5420,single,43.0,1.0,NaN,day,1.0,121.0,Portuguese,...,0.0,6.0,8.0,4.0,11.250000,0.0,9.4,NaN,-3.12,Enrolled
90,90,5625,single,44.0,1.0,9003.0,day,39.0,140.0,Portuguese,...,0.0,6.0,7.0,5.0,12.600000,0.0,12.4,0.5,1.79,Graduate
91,91,8990,NaN,1.0,1.0,9500.0,day,1.0,141.0,Portuguese,...,0.0,8.0,NaN,8.0,12.860000,2.0,9.4,-0.8,-3.12,Graduate
92,92,9143,married,44.0,1.0,9085.0,day,39.0,160.0,Portuguese,...,0.0,5.0,8.0,5.0,12.000000,1.0,9.4,-0.8,-3.12,Graduate
93,93,1944,married,7.0,1.0,9070.0,day,43.0,140.0,Portuguese,...,0.0,6.0,8.0,3.0,11.000000,0.0,11.1,0.6,2.02,Graduate
94,94,3666,single,1.0,3.0,9070.0,day,1.0,125.0,Portuguese,...,0.0,6.0,7.0,6.0,14.000000,NaN,11.1,0.6,2.02,Enrolled
95,95,6960,single,17.0,3.0,9119.0,day,1.0,130.0,Portuguese,...,0.0,5.0,5.0,5.0,14.200000,0.0,8.9,1.4,NaN,Graduate
96,96,7620,single,1.0,1.0,9500.0,day,1.0,157.0,Portuguese,...,0.0,8.0,8.0,8.0,14.035000,0.0,9.4,-0.8,-3.12,Graduate
97,97,6083,single,42.0,1.0,9500.0,day,1.0,150.0,NaN,...,6.0,14.0,20.0,14.0,13.072857,NaN,9.4,-0.8,-3.12,Graduate
98,98,5525,single,17.0,5.0,9238.0,day,1.0,130.0,NaN,...,0.0,6.0,15.0,3.0,10.000000,0.0,9.4,-0.8,-3.12,Enrolled
99,99,6029,single,17.0,1.0,9773.0,day,1.0,136.0,Portuguese,...,0.0,6.0,6.0,6.0,13.166667,0.0,12.7,3.7,-1.70,Graduate
100,100,9749,single,39.0,1.0,9085.0,day,1.0,110.0,Portuguese,...,3.0,7.0,7.0,3.0,11.666667,0.0,8.9,1.4,3.51,Dropout

6. tangani nilai yang hilang (NaN) menggunakan salah satu metode berikut:

In [31]:
#menampilkan data sebelum di imputasi
print(df.isnull().sum())
print("\ntotal nilai hilang sebelum imputasi: ", df.isnull().sum().sum())

Unnamed: 0                                          0
Student Id                                          0
Marital status                                     84
Application mode                                  172
Application order                                 108
Course                                            152
Daytime/evening attendance\t                       80
Previous qualification                            123
Previous qualification (grade)                     85
Nacionality                                       185
Mother's qualification                            145
Father's qualification                             96
Mother's occupation                                62
Father's occupation                               144
Admission grade                                   141
Displaced                                         122
Educational special needs                         119
Debtor                                            116
Tuition fees up to date                           156
Gender                                            202
Scholarship holder                                166
Age at enrollment                                 204
International                                     101
Curricular units 1st sem (credited)               208
Curricular units 1st sem (enrolled)               143
Curricular units 1st sem (evaluations)             67
Curricular units 1st sem (approved)               184
Curricular units 1st sem (grade)                   89
Curricular units 1st sem (without evaluations)     73
Curricular units 2nd sem (credited)                61
Curricular units 2nd sem (enrolled)                99
Curricular units 2nd sem (evaluations)            207
Curricular units 2nd sem (approved)               151
Curricular units 2nd sem (grade)                   75
Curricular units 2nd sem (without evaluations)    153
Unemployment rate                                 136
Inflation rate                                    167
GDP                                                64
Target                                              0
dtype: int64

total nilai hilang sebelum imputasi:  4640

In [32]:
#ubah kategori menjadi angka (karna imputasi hanya bisa menggunakan angka)
df_encoded = df.copy()
for col in df_encoded.select_dtypes(include=['object']):
    df_encoded[col] = df_encoded[col].astype('category').cat.codes

In [33]:
#Buat dan jalankan SimpleImputer ---
# Pilihan strategi:
# ganti nan dengan rata - rata
imputer = SimpleImputer(strategy='mean')

In [34]:
# Lakukan imputasi
df_imputed = pd.DataFrame(imputer.fit_transform(df_encoded),
                          columns=df_encoded.columns)

In [35]:
#menampilkan jumlah data hilang sesudah imputasi
print(df_imputed.isnull().sum())
print("\ntotal nilai hilang sesudah imputasi: ",df_imputed.isnull().sum().sum())

Unnamed: 0                                        0
Student Id                                        0
Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance\t                      0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

total nilai hilang sesudah imputasi:  0


8. tampilkan kembali dataset yang telah melalui seluruh proses preprocessing

In [36]:
#tampilkan baris pertama sebelum imputasi
print(df.head)

<bound method NDFrame.head of       Unnamed: 0  Student Id Marital status  Application mode  \
0              0        6634         single               1.0
1              1        6459         single               1.0
2              2        2238         single              42.0
3              3        2479         single               1.0
4              4        4260         single              44.0
...          ...         ...            ...               ...
3091        3091        6176         single              44.0
3092        3092        8064         single               1.0
3093        3093        2103         single               1.0
3094        3094        8629         single              39.0
3095        3095        6614         single              17.0

      Application order  Course Daytime/evening attendance\t  \
0                   3.0  9773.0                          day
1                   1.0     NaN                          day
2                   1.0  9500.0                          day
3                   1.0     NaN                          day
4                   1.0     NaN                          day
...                 ...     ...                          ...
3091                1.0  9085.0                          day
3092                5.0  9238.0                          day
3093                2.0  9500.0                          day
3094                1.0  9500.0                          day
3095                1.0  9670.0                          day

      Previous qualification  Previous qualification (grade) Nacionality  ...  \
0                        1.0                             NaN  Portuguese  ...
1                        1.0                           136.0  Portuguese  ...
2                        1.0                           120.0  Portuguese  ...
3                        1.0                           141.0  Portuguese  ...
4                       39.0                           120.0     Spanish  ...
...                      ...                             ...         ...  ...
3091                     1.0                           140.0  Portuguese  ...
3092                     1.0                           126.0  Portuguese  ...
3093                     1.0                           141.0  Portuguese  ...
3094                     4.0                           150.0  Portuguese  ...
3095                     1.0                           118.0  Portuguese  ...

      Curricular units 2nd sem (credited)  \
0                                     0.0
1                                     0.0
2                                     4.0
3                                     0.0
4                                     1.0
...                                   ...
3091                                  1.0
3092                                  0.0
3093                                  0.0
3094                                  2.0
3095                                  0.0

      Curricular units 2nd sem (enrolled)  \
0                                     6.0
1                                     0.0
2                                     8.0
3                                     6.0
4                                     6.0
...                                   ...
3091                                  6.0
3092                                  6.0
3093                                  8.0
3094                                  8.0
3095                                  6.0

      Curricular units 2nd sem (evaluations)  \
0                                        6.0
1                                        0.0
2                                        8.0
3                                        7.0
4                                        NaN
...                                      ...
3091                                     9.0
3092                                    13.0
3093                                     8.0
3094                                     NaN
3095                                     6.0

      Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                     6.0                         15.333333
1                                     0.0                          0.000000
2                                     7.0                         13.285714
3                                     6.0                         13.142857
4                                     3.0                         12.000000
...                                   ...                               ...
3091                                  4.0                         11.500000
3092                                  3.0                         11.000000
3093                                  8.0                         14.272500
3094                                  7.0                         13.306250
3095                                  6.0                         14.000000

      Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                                0.0               11.1
1                                                0.0               12.4
2                                                0.0               12.7
3                                                0.0               11.1
4                                                0.0               12.4
...                                              ...                ...
3091                                             0.0               13.9
3092                                             0.0                9.4
3093                                             0.0               15.5
3094                                             0.0               11.1
3095                                             0.0               12.4

      Inflation rate   GDP    Target
0                0.6  2.02  Graduate
1                0.5  1.79  Graduate
2                3.7 -1.70  Graduate
3                0.6  2.02  Graduate
4                0.5  1.79   Dropout
...              ...   ...       ...
3091            -0.3  0.79  Graduate
3092            -0.8 -3.12  Graduate
3093             2.8 -4.06  Graduate
3094             0.6  2.02   Dropout
3095             0.5  1.79  Graduate

[3096 rows x 39 columns]>

In [37]:
#menampilkan beberapa baris sesudah imputasi
print(df_imputed.head())

   Unnamed: 0  Student Id  Marital status  Application mode  \
0         0.0      6634.0             4.0               1.0
1         1.0      6459.0             4.0               1.0
2         2.0      2238.0             4.0              42.0
3         3.0      2479.0             4.0               1.0
4         4.0      4260.0             4.0              44.0

   Application order       Course  Daytime/evening attendance\t  \
0                3.0  9773.000000                           0.0
1                1.0  8817.929348                           0.0
2                1.0  9500.000000                           0.0
3                1.0  8817.929348                           0.0
4                1.0  8817.929348                           0.0

   Previous qualification  Previous qualification (grade)  Nacionality  ...  \
0                     1.0                      132.647293         13.0  ...
1                     1.0                      136.000000         13.0  ...
2                     1.0                      120.000000         13.0  ...
3                     1.0                      141.000000         13.0  ...
4                    39.0                      120.000000         17.0  ...

   Curricular units 2nd sem (credited)  Curricular units 2nd sem (enrolled)  \
0                                  0.0                                  6.0
1                                  0.0                                  0.0
2                                  4.0                                  8.0
3                                  0.0                                  6.0
4                                  1.0                                  6.0

   Curricular units 2nd sem (evaluations)  \
0                                6.000000
1                                0.000000
2                                8.000000
3                                7.000000
4                                8.061613

   Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                  6.0                         15.333333
1                                  0.0                          0.000000
2                                  7.0                         13.285714
3                                  6.0                         13.142857
4                                  3.0                         12.000000

   Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                             0.0               11.1
1                                             0.0               12.4
2                                             0.0               12.7
3                                             0.0               11.1
4                                             0.0               12.4

   Inflation rate   GDP  Target
0             0.6  2.02     2.0
1             0.5  1.79     2.0
2             3.7 -1.70     2.0
3             0.6  2.02     2.0
4             0.5  1.79     0.0

[5 rows x 39 columns]