# Menyiapkan data

In [23]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from IPython.display import display

# atur opsi agar semua kolom terlihat
pd.set_option('display.max_columns', None)

# memuat dataset
df_features = pd.read_csv('features.csv')
df_labels = pd.read_csv('labels.csv')

# 1Ô∏è. Tampilkan data yang telah diunduh, kemudian jelaskan semua kolom yang terdapat pada dataset tersebut.

In [24]:
print("--- 1. Data Awal ---")
print("\nData Features:")
display(df_features.head())

print("\nData Labels:")
display(df_labels.head())

--- 1. Data Awal ---

Data Features:

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,0,6634,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,1.0,1.0,4.0,7.0,125.1,1.0,0.0,1.0,1.0,1.0,NaN,18.0,0.0,0.0,6.0,6.0,6.0,14.333333,0.0,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02
1,1,6459,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,19.0,19.0,4.0,8.0,150.4,1.0,0.0,0.0,1.0,1.0,1.0,21.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,1.0,2.0,9.0,3.0,130.0,NaN,0.0,0.0,1.0,0.0,0.0,NaN,0.0,4.0,8.0,8.0,7.0,13.285714,0.0,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,1.0,19.0,4.0,4.0,NaN,0.0,0.0,0.0,1.0,0.0,1.0,18.0,0.0,0.0,NaN,8.0,6.0,14.000000,0.0,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02
4,4,4260,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,4.0,4.0,3.0,6.0,120.0,0.0,0.0,1.0,0.0,0.0,0.0,20.0,1.0,2.0,6.0,13.0,3.0,11.666667,0.0,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79

Data Labels:

     Target
0  Graduate
1  Graduate
2  Graduate
3  Graduate
4   Dropout

# 2Ô∏è. Lakukan agregasi antara tabel features dengan tabel labels.

In [25]:
print("--- 2. Agregasi (Penggabungan) Data ---")

# gabungkan kedua tabel dan menghapus kolom yang tidak perlu
df = pd.concat([df_features, df_labels], axis=1)
df = df.drop(columns=['Student Id', 'Unnamed: 0'])

# tampilkan data yang telah digabung
df.head()

--- 2. Agregasi (Penggabungan) Data ---

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,1.0,1.0,4.0,7.0,125.1,1.0,0.0,1.0,1.0,1.0,NaN,18.0,0.0,0.0,6.0,6.0,6.0,14.333333,0.0,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,Graduate
1,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,19.0,19.0,4.0,8.0,150.4,1.0,0.0,0.0,1.0,1.0,1.0,21.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,Graduate
2,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,1.0,2.0,9.0,3.0,130.0,NaN,0.0,0.0,1.0,0.0,0.0,NaN,0.0,4.0,8.0,8.0,7.0,13.285714,0.0,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,Graduate
3,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,1.0,19.0,4.0,4.0,NaN,0.0,0.0,0.0,1.0,0.0,1.0,18.0,0.0,0.0,NaN,8.0,6.0,14.000000,0.0,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,Graduate
4,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,4.0,4.0,3.0,6.0,120.0,0.0,0.0,1.0,0.0,0.0,0.0,20.0,1.0,2.0,6.0,13.0,3.0,11.666667,0.0,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79,Dropout

# 3Ô∏è. Tampilkan tipe data dari setiap kolom yang terdapat dalam dataset.

In [26]:
print(" 3. Tipe Data Setiap Kolom ")

df.info()

 3. Tipe Data Setiap Kolom
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3096 entries, 0 to 3095
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  3012 non-null   object
 1   Application mode                                2924 non-null   float64
 2   Application order                               2988 non-null   float64
 3   Course                                          2944 non-null   float64
 4   Daytime/evening attendance	                     3016 non-null   object
 5   Previous qualification                          2973 non-null   float64
 6   Previous qualification (grade)                  3011 non-null   float64
 7   Nacionality                                     2911 non-null   object
 8   Mother's qualification                          2951 non-null   float64
 9   Father's qualification                          3000 non-null   float64
 10  Mother's occupation                             3034 non-null   float64
 11  Father's occupation                             2952 non-null   float64
 12  Admission grade                                 2955 non-null   float64
 13  Displaced                                       2974 non-null   float64
 14  Educational special needs                       2977 non-null   float64
 15  Debtor                                          2980 non-null   float64
 16  Tuition fees up to date                         2940 non-null   float64
 17  Gender                                          2894 non-null   float64
 18  Scholarship holder                              2930 non-null   float64
 19  Age at enrollment                               2892 non-null   float64
 20  International                                   2995 non-null   float64
 21  Curricular units 1st sem (credited)             2888 non-null   float64
 22  Curricular units 1st sem (enrolled)             2953 non-null   float64
 23  Curricular units 1st sem (evaluations)          3029 non-null   float64
 24  Curricular units 1st sem (approved)             2912 non-null   float64
 25  Curricular units 1st sem (grade)                3007 non-null   float64
 26  Curricular units 1st sem (without evaluations)  3023 non-null   float64
 27  Curricular units 2nd sem (credited)             3035 non-null   float64
 28  Curricular units 2nd sem (enrolled)             2997 non-null   float64
 29  Curricular units 2nd sem (evaluations)          2889 non-null   float64
 30  Curricular units 2nd sem (approved)             2945 non-null   float64
 31  Curricular units 2nd sem (grade)                3021 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  2943 non-null   float64
 33  Unemployment rate                               2960 non-null   float64
 34  Inflation rate                                  2929 non-null   float64
 35  GDP                                             3032 non-null   float64
 36  Target                                          3096 non-null   object
dtypes: float64(33), object(4)
memory usage: 895.1+ KB

# 4Ô∏è. Tampilkan statistik deskriptif dari dataset dan berikan analisis singkat mengenai hasilnya.

In [27]:
print(" 4. Statistik Deskriptif ")

df.describe(include='all')

 4. Statistik Deskriptif

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
count,3012,2924.000000,2988.000000,2944.000000,3016,2973.000000,3011.000000,2911,2951.000000,3000.000000,3034.000000,2952.000000,2955.000000,2974.000000,2977.000000,2980.000000,2940.000000,2894.000000,2930.000000,2892.000000,2995.000000,2888.000000,2953.000000,3029.000000,2912.000000,3007.000000,3023.000000,3035.000000,2997.000000,2889.000000,2945.000000,3021.000000,2943.000000,2960.000000,2929.000000,3032.000000,3096
unique,6,NaN,NaN,NaN,2,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
top,single,NaN,NaN,NaN,day,NaN,NaN,Portuguese,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Graduate
freq,2674,NaN,NaN,NaN,2701,NaN,NaN,2836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1546
mean,NaN,18.785568,1.734940,8817.929348,NaN,4.685503,132.647293,NaN,19.470010,22.408667,11.495715,11.597900,126.902876,0.546066,0.010749,0.117450,0.880612,0.350726,0.246416,23.310166,0.025042,0.698407,6.251270,8.233080,4.732143,10.692416,0.133311,0.516639,6.208876,8.061613,4.422411,10.275115,0.139314,11.549561,1.215534,0.028278,NaN
std,NaN,17.532674,1.327527,2148.407432,NaN,10.439709,13.322662,NaN,15.636952,15.291008,28.173386,26.799023,14.460283,0.497957,0.103136,0.322009,0.324299,0.477280,0.430997,7.697740,0.156278,2.333794,2.453467,4.119638,3.044222,4.816427,0.666707,1.840537,2.185127,3.942850,2.982200,5.177672,0.709478,2.651675,1.377709,2.273157,NaN
min,NaN,1.000000,1.000000,33.000000,NaN,1.000000,95.000000,NaN,1.000000,1.000000,0.000000,0.000000,95.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.600000,-0.800000,-4.060000,NaN
25%,NaN,1.000000,1.000000,9085.000000,NaN,1.000000,124.000000,NaN,2.000000,3.000000,4.000000,4.000000,118.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,19.000000,0.000000,0.000000,5.000000,6.000000,3.000000,11.000000,0.000000,0.000000,5.000000,6.000000,2.000000,10.800000,0.000000,9.400000,0.300000,-1.700000,NaN
50%,NaN,17.000000,1.000000,9238.000000,NaN,1.000000,133.100000,NaN,19.000000,19.000000,5.000000,7.000000,125.900000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,20.000000,0.000000,0.000000,6.000000,8.000000,5.000000,12.333333,0.000000,0.000000,6.000000,8.000000,5.000000,12.250000,0.000000,11.100000,1.400000,0.320000,NaN
75%,NaN,39.000000,2.000000,9556.000000,NaN,1.000000,140.000000,NaN,37.000000,37.000000,9.000000,9.000000,134.600000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,25.000000,0.000000,0.000000,7.000000,10.000000,6.000000,13.400000,0.000000,0.000000,7.000000,10.000000,6.000000,13.333333,0.000000,13.900000,2.600000,1.790000,NaN
max,NaN,53.000000,9.000000,9991.000000,NaN,43.000000,190.000000,NaN,44.000000,44.000000,194.000000,195.000000,190.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,70.000000,1.000000,20.000000,23.000000,45.000000,21.000000,18.875000,10.000000,19.000000,23.000000,27.000000,20.000000,18.571429,12.000000,16.200000,3.700000,3.510000,NaN

# 5Ô∏è. Slicing Data


* 20 baris awal dari dataset

In [28]:
print(" 5. Slicing Data (20 Baris Awal) ")
df.head(20)

 5. Slicing Data (20 Baris Awal)

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,1.0,1.0,4.0,7.0,125.1,1.0,0.0,1.0,1.0,1.0,NaN,18.0,0.0,0.0,6.0,6.0,6.0,14.333333,0.0,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,Graduate
1,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,19.0,19.0,4.0,8.0,150.4,1.0,0.0,0.0,1.0,1.0,1.0,21.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,Graduate
2,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,1.0,2.0,9.0,3.0,130.0,NaN,0.0,0.0,1.0,0.0,0.0,NaN,0.0,4.0,8.0,8.0,7.0,13.285714,0.0,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,Graduate
3,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,1.0,19.0,4.0,4.0,NaN,0.0,0.0,0.0,1.0,0.0,1.0,18.0,0.0,0.0,NaN,8.0,6.0,14.000000,0.0,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,Graduate
4,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,4.0,4.0,3.0,6.0,120.0,0.0,0.0,1.0,0.0,0.0,0.0,20.0,1.0,2.0,6.0,13.0,3.0,11.666667,0.0,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79,Dropout
5,married,39.0,1.0,9853.0,day,1.0,NaN,Portuguese,NaN,19.0,9.0,5.0,138.3,0.0,0.0,0.0,1.0,0.0,0.0,45.0,0.0,0.0,7.0,12.0,4.0,10.250000,0.0,0.0,7.0,10.0,3.0,13.000000,0.0,11.1,0.6,2.02,Dropout
6,single,39.0,1.0,9085.0,day,1.0,133.1,NaN,3.0,19.0,2.0,9.0,110.0,0.0,0.0,NaN,1.0,0.0,0.0,28.0,0.0,0.0,6.0,15.0,4.0,12.000000,0.0,0.0,6.0,14.0,4.0,12.000000,0.0,11.1,0.6,2.02,Dropout
7,single,1.0,4.0,9670.0,day,1.0,130.0,Portuguese,1.0,1.0,9.0,9.0,124.1,1.0,0.0,0.0,1.0,0.0,0.0,18.0,0.0,0.0,6.0,6.0,6.0,14.166667,0.0,0.0,6.0,7.0,6.0,13.428571,0.0,8.9,1.4,3.51,Enrolled
8,single,1.0,1.0,9773.0,day,1.0,135.0,Portuguese,1.0,19.0,4.0,10.0,129.4,1.0,0.0,0.0,1.0,0.0,0.0,18.0,0.0,0.0,6.0,6.0,6.0,12.833333,0.0,0.0,6.0,7.0,6.0,12.166667,0.0,11.1,0.6,2.02,Graduate
9,single,39.0,1.0,9670.0,day,1.0,120.0,Portuguese,11.0,11.0,90.0,4.0,114.0,1.0,0.0,0.0,1.0,1.0,0.0,29.0,0.0,0.0,5.0,10.0,3.0,11.666667,0.0,0.0,5.0,8.0,4.0,11.250000,0.0,7.6,2.6,0.32,Dropout
10,single,1.0,1.0,9670.0,day,1.0,133.1,Portuguese,NaN,1.0,1.0,7.0,155.0,0.0,0.0,NaN,1.0,0.0,NaN,22.0,0.0,0.0,5.0,6.0,3.0,11.333333,0.0,0.0,5.0,5.0,NaN,0.000000,0.0,9.4,-0.8,-3.12,Dropout
11,single,1.0,1.0,9070.0,day,1.0,117.0,Portuguese,1.0,1.0,3.0,9.0,118.4,0.0,NaN,0.0,NaN,1.0,0.0,19.0,0.0,0.0,6.0,6.0,6.0,11.833333,0.0,0.0,6.0,NaN,4.0,10.750000,2.0,NaN,NaN,-0.92,Graduate
12,single,1.0,1.0,171.0,day,1.0,162.0,Portuguese,37.0,37.0,9.0,9.0,142.8,1.0,0.0,0.0,1.0,1.0,0.0,21.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,12.7,3.7,-1.70,Dropout
13,single,1.0,3.0,9500.0,day,1.0,135.0,Portuguese,1.0,37.0,7.0,7.0,120.5,1.0,0.0,0.0,1.0,0.0,0.0,19.0,0.0,0.0,8.0,11.0,7.0,13.258571,0.0,0.0,8.0,11.0,NaN,13.258571,0.0,NaN,1.4,1.74,Graduate
14,married,39.0,1.0,8014.0,NaN,NaN,120.0,Portuguese,37.0,37.0,9.0,9.0,117.0,1.0,0.0,0.0,1.0,0.0,0.0,33.0,0.0,0.0,6.0,7.0,6.0,12.833333,0.0,0.0,NaN,8.0,6.0,12.857143,0.0,12.4,0.5,1.79,Graduate
15,single,7.0,1.0,9119.0,day,1.0,140.8,Portuguese,34.0,34.0,0.0,0.0,134.0,0.0,0.0,0.0,1.0,1.0,0.0,24.0,0.0,0.0,5.0,0.0,0.0,0.000000,0.0,0.0,5.0,0.0,0.0,0.000000,0.0,7.6,2.6,0.32,Dropout
16,single,17.0,1.0,9119.0,day,1.0,132.0,Portuguese,37.0,37.0,9.0,6.0,119.4,1.0,0.0,0.0,NaN,1.0,NaN,21.0,0.0,0.0,5.0,8.0,0.0,0.000000,0.0,0.0,5.0,5.0,0.0,0.000000,0.0,7.6,2.6,0.32,Dropout
17,single,NaN,1.0,9003.0,day,19.0,133.1,Portuguese,37.0,38.0,4.0,9.0,110.0,0.0,NaN,1.0,NaN,0.0,0.0,40.0,0.0,0.0,6.0,12.0,5.0,12.800000,0.0,0.0,6.0,16.0,3.0,13.333333,0.0,11.1,0.6,2.02,Dropout
18,single,17.0,1.0,171.0,day,1.0,NaN,Portuguese,1.0,1.0,4.0,10.0,134.7,NaN,0.0,0.0,0.0,1.0,0.0,19.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,10.8,1.4,1.74,Dropout
19,single,1.0,1.0,9085.0,day,1.0,111.0,Portuguese,1.0,38.0,5.0,9.0,107.5,0.0,0.0,0.0,1.0,1.0,1.0,19.0,0.0,0.0,6.0,9.0,6.0,13.833333,0.0,0.0,6.0,12.0,NaN,13.666667,0.0,11.1,0.6,2.02,Graduate

* 20 baris terakhir

In [29]:
print(" 5. Slicing Data (20 Baris Terakhir) ")
df.tail(20)

 5. Slicing Data (20 Baris Terakhir)

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
3076,single,17.0,NaN,9254.0,day,1.0,122.0,Portuguese,1.0,1.0,4.0,9.0,112.9,1.0,0.0,0.0,1.0,0.0,0.0,22.0,0.0,0.0,6.0,14.0,4.0,12.250000,0.0,0.0,6.0,11.0,3.0,11.333333,0.0,7.6,2.6,0.32,Enrolled
3077,single,1.0,2.0,9500.0,day,1.0,140.0,Portuguese,NaN,1.0,2.0,7.0,131.0,1.0,0.0,0.0,1.0,0.0,1.0,18.0,0.0,0.0,8.0,8.0,8.0,13.881250,0.0,0.0,8.0,8.0,8.0,13.881250,0.0,9.4,-0.8,-3.12,Graduate
3078,single,1.0,1.0,9085.0,day,1.0,131.0,Portuguese,19.0,19.0,9.0,9.0,139.8,1.0,0.0,0.0,1.0,0.0,0.0,19.0,0.0,0.0,5.0,6.0,5.0,13.400000,0.0,0.0,5.0,5.0,NaN,12.800000,0.0,10.8,1.4,1.74,Graduate
3079,single,17.0,1.0,9238.0,day,1.0,120.0,Portuguese,19.0,19.0,4.0,5.0,114.8,1.0,0.0,1.0,0.0,0.0,0.0,19.0,0.0,0.0,6.0,10.0,5.0,11.714286,0.0,0.0,6.0,13.0,2.0,10.666667,0.0,16.2,0.3,-0.92,Dropout
3080,divorced,39.0,1.0,9003.0,day,12.0,133.1,Portuguese,37.0,37.0,9.0,6.0,160.0,0.0,0.0,0.0,1.0,NaN,0.0,43.0,0.0,13.0,18.0,19.0,18.0,14.631579,0.0,10.0,13.0,14.0,13.0,14.230769,NaN,15.5,2.8,-4.06,Graduate
3081,single,39.0,1.0,171.0,day,1.0,147.0,Portuguese,37.0,38.0,175.0,193.0,133.3,0.0,0.0,0.0,0.0,0.0,0.0,32.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,16.2,0.3,-0.92,Dropout
3082,single,17.0,5.0,9147.0,day,1.0,131.0,Portuguese,37.0,38.0,5.0,5.0,128.9,0.0,0.0,0.0,1.0,0.0,1.0,18.0,0.0,0.0,5.0,7.0,5.0,11.600000,0.0,0.0,5.0,11.0,5.0,11.400000,4.0,16.2,NaN,-0.92,Graduate
3083,single,1.0,1.0,9500.0,day,1.0,140.0,Portuguese,19.0,19.0,3.0,6.0,124.3,1.0,0.0,0.0,1.0,0.0,1.0,18.0,0.0,0.0,7.0,7.0,7.0,14.542857,0.0,0.0,8.0,11.0,8.0,14.881818,0.0,16.2,0.3,-0.92,Graduate
3084,single,1.0,2.0,9773.0,day,1.0,130.0,Portuguese,1.0,34.0,9.0,9.0,124.8,1.0,NaN,0.0,1.0,0.0,1.0,20.0,0.0,0.0,6.0,7.0,5.0,12.800000,0.0,0.0,6.0,6.0,6.0,12.333333,0.0,12.4,0.5,1.79,Graduate
3085,single,17.0,1.0,9238.0,day,NaN,139.0,Portuguese,19.0,38.0,4.0,9.0,146.7,1.0,0.0,0.0,1.0,0.0,1.0,20.0,0.0,0.0,6.0,6.0,6.0,13.333333,0.0,0.0,6.0,7.0,6.0,14.000000,0.0,15.5,2.8,-4.06,Graduate
3086,single,43.0,1.0,9556.0,day,1.0,149.0,Portuguese,1.0,1.0,4.0,8.0,140.2,1.0,1.0,0.0,1.0,0.0,0.0,20.0,0.0,1.0,7.0,9.0,7.0,12.333333,0.0,0.0,8.0,8.0,8.0,12.625000,0.0,12.7,3.7,-1.70,Enrolled
3087,single,1.0,1.0,171.0,day,3.0,116.0,Portuguese,3.0,3.0,2.0,2.0,128.2,0.0,0.0,0.0,1.0,0.0,0.0,22.0,0.0,12.0,17.0,22.0,17.0,10.368421,0.0,14.0,17.0,18.0,17.0,11.500000,0.0,11.1,0.6,2.02,Graduate
3088,single,51.0,1.0,9670.0,day,1.0,133.1,Portuguese,3.0,NaN,3.0,10.0,116.2,0.0,0.0,0.0,1.0,1.0,0.0,24.0,0.0,0.0,6.0,11.0,5.0,12.857143,0.0,0.0,6.0,12.0,5.0,13.666667,0.0,11.1,0.6,2.02,Dropout
3089,single,17.0,2.0,171.0,day,1.0,142.0,Portuguese,3.0,1.0,2.0,6.0,139.4,1.0,0.0,0.0,1.0,0.0,1.0,18.0,0.0,0.0,0.0,0.0,NaN,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,15.5,2.8,-4.06,Graduate
3090,single,51.0,1.0,9070.0,day,1.0,143.0,Portuguese,1.0,1.0,4.0,4.0,120.0,1.0,0.0,0.0,1.0,0.0,0.0,21.0,0.0,3.0,NaN,10.0,10.0,13.000000,0.0,5.0,11.0,11.0,10.0,11.400000,0.0,11.1,0.6,2.02,Dropout
3091,single,44.0,1.0,9085.0,day,1.0,140.0,Portuguese,4.0,4.0,2.0,6.0,140.0,0.0,0.0,0.0,1.0,NaN,NaN,22.0,0.0,2.0,6.0,9.0,6.0,13.333333,0.0,1.0,6.0,9.0,4.0,11.500000,0.0,13.9,-0.3,0.79,Graduate
3092,single,1.0,5.0,9238.0,day,1.0,126.0,Portuguese,38.0,1.0,9.0,5.0,125.7,1.0,0.0,0.0,1.0,0.0,1.0,19.0,0.0,0.0,6.0,8.0,NaN,11.000000,0.0,0.0,6.0,13.0,3.0,11.000000,0.0,9.4,-0.8,-3.12,Graduate
3093,single,1.0,2.0,9500.0,day,1.0,141.0,Portuguese,37.0,37.0,9.0,7.0,126.3,1.0,0.0,0.0,1.0,0.0,0.0,19.0,0.0,NaN,7.0,10.0,NaN,13.805000,0.0,0.0,8.0,8.0,8.0,14.272500,0.0,15.5,2.8,-4.06,Graduate
3094,single,39.0,1.0,9500.0,day,4.0,150.0,Portuguese,3.0,38.0,3.0,7.0,127.0,1.0,NaN,0.0,1.0,1.0,0.0,26.0,0.0,2.0,7.0,8.0,6.0,13.046667,0.0,2.0,8.0,NaN,7.0,13.306250,0.0,11.1,0.6,2.02,Dropout
3095,single,17.0,1.0,9670.0,day,1.0,118.0,Portuguese,1.0,19.0,4.0,8.0,118.7,0.0,0.0,0.0,1.0,1.0,1.0,19.0,0.0,0.0,NaN,7.0,6.0,12.000000,NaN,0.0,6.0,6.0,6.0,14.000000,0.0,12.4,0.5,1.79,Graduate


* Baris dari index 80 - 100

In [30]:
print(" 5. Slicing Data (Baris Index 80-100) ")
df.iloc[80:101]

 5. Slicing Data (Baris Index 80-100)

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
80,single,17.0,1.0,9670.0,day,1.0,155.0,Portuguese,1.0,19.0,4.0,8.0,134.7,1.0,0.0,0.0,1.0,0.0,0.0,20.0,0.0,0.0,6.0,8.0,NaN,13.400000,0.0,NaN,6.0,10.0,4.0,13.000000,0.0,12.7,3.7,-1.70,Enrolled
81,single,39.0,1.0,9003.0,day,1.0,NaN,Portuguese,38.0,38.0,4.0,7.0,115.6,1.0,0.0,0.0,0.0,0.0,0.0,27.0,0.0,0.0,6.0,8.0,0.0,0.000000,0.0,0.0,NaN,8.0,0.0,0.000000,0.0,15.5,2.8,-4.06,Dropout
82,single,1.0,1.0,171.0,day,1.0,159.0,NaN,3.0,1.0,4.0,4.0,162.2,1.0,0.0,1.0,NaN,0.0,0.0,18.0,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,NaN,1.79,Dropout
83,single,1.0,1.0,9147.0,day,1.0,150.0,Ukrainian,37.0,37.0,NaN,9.0,134.6,0.0,0.0,0.0,1.0,1.0,0.0,NaN,1.0,0.0,NaN,5.0,5.0,13.600000,0.0,0.0,5.0,7.0,5.0,13.000000,0.0,9.4,-0.8,-3.12,Graduate
84,single,NaN,1.0,9991.0,evening,1.0,140.0,Portuguese,37.0,37.0,9.0,5.0,140.0,0.0,0.0,0.0,0.0,0.0,0.0,37.0,0.0,0.0,5.0,5.0,0.0,0.000000,0.0,0.0,5.0,5.0,NaN,0.000000,0.0,15.5,2.8,-4.06,Dropout
85,single,18.0,1.0,9500.0,day,1.0,144.0,Portuguese,37.0,NaN,6.0,6.0,127.5,1.0,0.0,0.0,1.0,0.0,1.0,19.0,0.0,0.0,8.0,8.0,7.0,13.542857,0.0,NaN,8.0,8.0,7.0,13.542857,0.0,12.7,3.7,-1.70,Graduate
86,single,1.0,1.0,9773.0,day,1.0,117.0,Portuguese,1.0,37.0,5.0,9.0,118.4,0.0,0.0,0.0,1.0,1.0,1.0,19.0,0.0,0.0,6.0,8.0,6.0,11.833333,0.0,0.0,6.0,11.0,3.0,13.000000,0.0,15.5,2.8,-4.06,Graduate
87,single,39.0,2.0,9556.0,day,19.0,133.1,Portuguese,37.0,37.0,3.0,7.0,117.8,0.0,0.0,0.0,1.0,0.0,0.0,24.0,0.0,0.0,7.0,10.0,6.0,11.416667,0.0,0.0,8.0,9.0,8.0,11.962500,0.0,13.9,-0.3,0.79,Graduate
88,single,1.0,2.0,9500.0,day,1.0,145.0,Portuguese,37.0,1.0,9.0,4.0,138.8,1.0,0.0,0.0,1.0,0.0,1.0,18.0,0.0,0.0,7.0,7.0,6.0,12.950000,0.0,0.0,7.0,7.0,6.0,12.950000,0.0,7.6,2.6,0.32,Graduate
89,single,43.0,1.0,NaN,day,1.0,121.0,Portuguese,1.0,1.0,4.0,5.0,121.0,1.0,0.0,0.0,1.0,1.0,0.0,23.0,0.0,0.0,6.0,15.0,1.0,13.000000,0.0,0.0,6.0,8.0,4.0,11.250000,0.0,9.4,NaN,-3.12,Enrolled
90,single,44.0,1.0,9003.0,day,39.0,140.0,Portuguese,1.0,1.0,4.0,3.0,140.0,1.0,0.0,0.0,1.0,0.0,0.0,20.0,0.0,0.0,6.0,10.0,5.0,11.666667,NaN,0.0,6.0,7.0,5.0,12.600000,0.0,12.4,0.5,1.79,Graduate
91,NaN,1.0,1.0,9500.0,day,1.0,141.0,Portuguese,19.0,38.0,5.0,7.0,125.5,0.0,0.0,0.0,1.0,0.0,0.0,18.0,0.0,0.0,NaN,10.0,8.0,12.860000,2.0,0.0,8.0,NaN,8.0,12.860000,2.0,9.4,-0.8,-3.12,Graduate
92,married,44.0,1.0,9085.0,day,39.0,160.0,Portuguese,37.0,37.0,192.0,192.0,160.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,5.0,12.0,3.0,14.000000,2.0,0.0,5.0,8.0,5.0,12.000000,1.0,9.4,-0.8,-3.12,Graduate
93,married,7.0,1.0,9070.0,day,43.0,140.0,Portuguese,37.0,1.0,9.0,7.0,140.0,0.0,0.0,0.0,1.0,0.0,0.0,33.0,0.0,0.0,6.0,7.0,6.0,15.000000,0.0,0.0,6.0,8.0,3.0,11.000000,0.0,11.1,0.6,2.02,Graduate
94,single,1.0,3.0,9070.0,day,1.0,125.0,Portuguese,1.0,38.0,9.0,7.0,118.0,0.0,0.0,0.0,1.0,0.0,1.0,18.0,0.0,0.0,6.0,6.0,6.0,14.333333,0.0,0.0,6.0,7.0,6.0,14.000000,NaN,11.1,0.6,2.02,Enrolled
95,single,17.0,3.0,9119.0,day,1.0,130.0,Portuguese,1.0,38.0,3.0,3.0,129.3,0.0,0.0,0.0,1.0,1.0,1.0,18.0,0.0,0.0,5.0,5.0,5.0,13.000000,0.0,0.0,5.0,5.0,5.0,14.200000,0.0,8.9,1.4,NaN,Graduate
96,single,1.0,1.0,9500.0,day,1.0,157.0,Portuguese,19.0,38.0,5.0,3.0,149.3,0.0,0.0,0.0,1.0,0.0,0.0,18.0,0.0,NaN,8.0,8.0,8.0,14.035000,0.0,0.0,8.0,8.0,8.0,14.035000,0.0,9.4,-0.8,-3.12,Graduate
97,single,42.0,1.0,9500.0,day,1.0,150.0,NaN,19.0,1.0,9.0,NaN,110.0,1.0,0.0,0.0,1.0,NaN,1.0,33.0,0.0,6.0,14.0,20.0,14.0,13.072857,6.0,6.0,14.0,20.0,14.0,13.072857,NaN,9.4,-0.8,-3.12,Graduate
98,single,17.0,5.0,9238.0,day,1.0,130.0,NaN,NaN,1.0,5.0,5.0,130.0,1.0,0.0,0.0,1.0,0.0,0.0,20.0,0.0,0.0,6.0,8.0,4.0,11.250000,0.0,0.0,6.0,15.0,3.0,10.000000,0.0,9.4,-0.8,-3.12,Enrolled
99,single,17.0,1.0,9773.0,day,1.0,136.0,Portuguese,19.0,38.0,9.0,9.0,121.7,1.0,0.0,0.0,1.0,1.0,1.0,19.0,NaN,0.0,6.0,9.0,5.0,12.400000,0.0,0.0,6.0,6.0,6.0,13.166667,0.0,12.7,3.7,-1.70,Graduate
100,single,39.0,1.0,9085.0,day,1.0,110.0,Portuguese,40.0,1.0,5.0,6.0,142.5,0.0,0.0,1.0,0.0,1.0,0.0,37.0,0.0,5.0,7.0,7.0,5.0,12.000000,0.0,3.0,7.0,7.0,3.0,11.666667,0.0,8.9,1.4,3.51,Dropout

# 6Ô∏è. Tangani nilai yang hilang (NaN) menggunakan salah satu metode

In [31]:
print(" 6. Penanganan Nilai Hilang (Imputasi) ")
print("\nJumlah nilai hilang SEBELUM imputasi:")
print(df.isnull().sum())

# Proses Imputasi
numerical_cols = df.select_dtypes(include=['number']).columns
categorical_cols = df.select_dtypes(include=['object']).columns
df[numerical_cols] = SimpleImputer(strategy='median').fit_transform(df[numerical_cols])
df[categorical_cols] = SimpleImputer(strategy='most_frequent').fit_transform(df[categorical_cols])

print("\nJumlah nilai hilang SETELAH imputasi:")
print(df.isnull().sum())

 6. Penanganan Nilai Hilang (Imputasi)

Jumlah nilai hilang SEBELUM imputasi:
Marital status                                     84
Application mode                                  172
Application order                                 108
Course                                            152
Daytime/evening attendance\t                       80
Previous qualification                            123
Previous qualification (grade)                     85
Nacionality                                       185
Mother's qualification                            145
Father's qualification                             96
Mother's occupation                                62
Father's occupation                               144
Admission grade                                   141
Displaced                                         122
Educational special needs                         119
Debtor                                            116
Tuition fees up to date                           156
Gender                                            202
Scholarship holder                                166
Age at enrollment                                 204
International                                     101
Curricular units 1st sem (credited)               208
Curricular units 1st sem (enrolled)               143
Curricular units 1st sem (evaluations)             67
Curricular units 1st sem (approved)               184
Curricular units 1st sem (grade)                   89
Curricular units 1st sem (without evaluations)     73
Curricular units 2nd sem (credited)                61
Curricular units 2nd sem (enrolled)                99
Curricular units 2nd sem (evaluations)            207
Curricular units 2nd sem (approved)               151
Curricular units 2nd sem (grade)                   75
Curricular units 2nd sem (without evaluations)    153
Unemployment rate                                 136
Inflation rate                                    167
GDP                                                64
Target                                              0
dtype: int64

Jumlah nilai hilang SETELAH imputasi:
Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance\t                      0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

# 7Ô∏è. Opsional : Lakukan encoding terhadap kolom bertipe object menjadi numerik menggunakan:


*   LabelEncoder, atau
*   OneHotEncoder

In [32]:
print(" 7. Encoding Kolom Kategorikal ")

df_encoded = df.copy()
le = LabelEncoder()

for col in categorical_cols:
    df_encoded[col] = le.fit_transform(df_encoded[col])

# Menampilkan hasil setelah encoding
df_encoded.head()

 7. Encoding Kolom Kategorikal

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,4,1.0,3.0,9773.0,0,1.0,133.1,13,1.0,1.0,4.0,7.0,125.1,1.0,0.0,1.0,1.0,1.0,0.0,18.0,0.0,0.0,6.0,6.0,6.0,14.333333,0.0,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,2
1,4,1.0,1.0,9238.0,0,1.0,136.0,13,19.0,19.0,4.0,8.0,150.4,1.0,0.0,0.0,1.0,1.0,1.0,21.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,2
2,4,42.0,1.0,9500.0,0,1.0,120.0,13,1.0,2.0,9.0,3.0,130.0,1.0,0.0,0.0,1.0,0.0,0.0,20.0,0.0,4.0,8.0,8.0,7.0,13.285714,0.0,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,2
3,4,1.0,1.0,9238.0,0,1.0,141.0,13,1.0,19.0,4.0,4.0,125.9,0.0,0.0,0.0,1.0,0.0,1.0,18.0,0.0,0.0,6.0,8.0,6.0,14.000000,0.0,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,2
4,4,44.0,1.0,9238.0,0,39.0,120.0,17,4.0,4.0,3.0,6.0,120.0,0.0,0.0,1.0,0.0,0.0,0.0,20.0,1.0,2.0,6.0,13.0,3.0,11.666667,0.0,1.0,6.0,8.0,3.0,12.000000,0.0,12.4,0.5,1.79,0

# 8Ô∏è. Tampilkan kembali dataset yang telah melalui seluruh proses preprocessing (cleaning, imputasi, dan encoding).

In [33]:
print(" 8. Dataset Final Hasil Preprocessing ")

df_final = df_encoded

# Menampilkan hasil akhir
df_final.head()

 8. Dataset Final Hasil Preprocessing

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,4,1.0,3.0,9773.0,0,1.0,133.1,13,1.0,1.0,4.0,7.0,125.1,1.0,0.0,1.0,1.0,1.0,0.0,18.0,0.0,0.0,6.0,6.0,6.0,14.333333,0.0,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,2
1,4,1.0,1.0,9238.0,0,1.0,136.0,13,19.0,19.0,4.0,8.0,150.4,1.0,0.0,0.0,1.0,1.0,1.0,21.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,2
2,4,42.0,1.0,9500.0,0,1.0,120.0,13,1.0,2.0,9.0,3.0,130.0,1.0,0.0,0.0,1.0,0.0,0.0,20.0,0.0,4.0,8.0,8.0,7.0,13.285714,0.0,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,2
3,4,1.0,1.0,9238.0,0,1.0,141.0,13,1.0,19.0,4.0,4.0,125.9,0.0,0.0,0.0,1.0,0.0,1.0,18.0,0.0,0.0,6.0,8.0,6.0,14.000000,0.0,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,2
4,4,44.0,1.0,9238.0,0,39.0,120.0,17,4.0,4.0,3.0,6.0,120.0,0.0,0.0,1.0,0.0,0.0,0.0,20.0,1.0,2.0,6.0,13.0,3.0,11.666667,0.0,1.0,6.0,8.0,3.0,12.000000,0.0,12.4,0.5,1.79,0