In [ ]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder

In [ ]:
features = pd.read_csv("/content/features.csv")
labels = pd.read_csv("/content/labels.csv")

**1Ô∏è. Tampilkan data yang telah diunduh, kemudian jelaskan semua kolom yang terdapat pada dataset tersebut.**

In [ ]:
features.head().T

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
Student Id,6634,6459,2238,2479,4260
Marital status,single,single,single,single,single
Application mode,1.0,1.0,42.0,1.0,44.0
Application order,3.0,1.0,1.0,1.0,1.0
Course,9773.0,NaN,9500.0,NaN,NaN
Daytime/evening attendance\t,day,day,day,day,day
Previous qualification,1.0,1.0,1.0,1.0,39.0
Previous qualification (grade),NaN,136.0,120.0,141.0,120.0
Nacionality,Portuguese,Portuguese,Portuguese,Portuguese,Spanish
Mother's qualification,1.0,19.0,1.0,1.0,4.0
Father's qualification,1.0,19.0,2.0,19.0,4.0
Mother's occupation,4.0,4.0,9.0,4.0,3.0
Father's occupation,7.0,8.0,3.0,4.0,6.0
Admission grade,125.1,150.4,130.0,NaN,120.0
Displaced,1.0,1.0,NaN,0.0,0.0
Educational special needs,0.0,0.0,0.0,0.0,0.0
Debtor,1.0,0.0,0.0,0.0,1.0
Tuition fees up to date,1.0,1.0,1.0,1.0,0.0
Gender,1.0,1.0,0.0,0.0,0.0
Scholarship holder,NaN,1.0,0.0,1.0,0.0
Age at enrollment,18.0,21.0,NaN,18.0,20.0
International,0.0,0.0,0.0,0.0,1.0
Curricular units 1st sem (credited),0.0,0.0,4.0,0.0,2.0
Curricular units 1st sem (enrolled),6.0,0.0,8.0,NaN,6.0
Curricular units 1st sem (evaluations),6.0,0.0,8.0,8.0,13.0
Curricular units 1st sem (approved),6.0,0.0,7.0,6.0,3.0
Curricular units 1st sem (grade),14.333333,0.0,13.285714,14.0,11.666667
Curricular units 1st sem (without evaluations),0.0,0.0,0.0,0.0,0.0
Curricular units 2nd sem (credited),0.0,0.0,4.0,0.0,1.0
Curricular units 2nd sem (enrolled),6.0,0.0,8.0,6.0,6.0
Curricular units 2nd sem (evaluations),6.0,0.0,8.0,7.0,NaN
Curricular units 2nd sem (approved),6.0,0.0,7.0,6.0,3.0
Curricular units 2nd sem (grade),15.333333,0.0,13.285714,13.142857,12.0
Curricular units 2nd sem (without evaluations),0.0,0.0,0.0,0.0,0.0
Unemployment rate,11.1,12.4,12.7,11.1,12.4
Inflation rate,0.6,0.5,3.7,0.6,0.5
GDP,2.02,1.79,-1.7,2.02,1.79

In [ ]:
labels.head()

     Target
0  Graduate
1  Graduate
2  Graduate
3  Graduate
4   Dropout

Penjelasan Kolom Dataset
Dataset ini terdiri dari beberapa kolom yang memberikan gambaran tentang mahasiswa. Berikut penjelasan setiap kolom:

Unnamed: 0 : Nomor urut atau indeks otomatis dari dataset.

Student Id : ID unik untuk setiap mahasiswa.

Marital status : Status pernikahan mahasiswa (misalnya single, married, dll).

Application mode : Jalur pendaftaran yang digunakan mahasiswa (tes nasional, transfer, jalur mandiri, dll).

Application order : Urutan pilihan program studi saat mahasiswa mendaftar.

Course : Program studi yang dipilih oleh mahasiswa.

Daytime/evening attendance : Waktu kuliah mahasiswa (day = kelas pagi, evening = kelas malam).

Previous qualification : Kualifikasi pendidikan terakhir sebelum masuk universitas.

Previous qualification (grade) : Nilai atau rata-rata nilai pada pendidikan sebelumnya.

Nationality : Kewarganegaraan mahasiswa.

Mother‚Äôs qualification : Tingkat pendidikan terakhir ibu mahasiswa.

Father‚Äôs qualification : Tingkat pendidikan terakhir ayah mahasiswa.

Mother‚Äôs occupation : Pekerjaan ibu mahasiswa.

Father‚Äôs occupation : Pekerjaan ayah mahasiswa.

Admission grade : Nilai yang diperoleh saat seleksi masuk universitas.

Displaced : Menunjukkan apakah mahasiswa berasal dari daerah pengungsian/terpencil (1 = ya, 0 = tidak).

Educational special needs : Menunjukkan apakah mahasiswa memiliki kebutuhan khusus (1 = ya, 0 = tidak).

Debtor : Menunjukkan apakah mahasiswa memiliki tunggakan pembayaran (1 = ya, 0 = tidak).

Tuition fees up to date : Apakah mahasiswa sudah melunasi pembayaran biaya kuliah (1 = ya, 0 = tidak).

Gender : Jenis kelamin mahasiswa (male/female).

Scholarship holder : Menunjukkan apakah mahasiswa menerima beasiswa (1 = ya, 0 = tidak).

Age at enrollment : Usia mahasiswa saat mendaftar.

International : Menunjukkan apakah mahasiswa tersebut merupakan mahasiswa internasional (1 = ya, 0 = tidak).

Curricular units 1st sem (credited) : Jumlah mata kuliah semester 1 yang diakui.

Curricular units 1st sem (enrolled) : Jumlah mata kuliah semester 1 yang diambil.

Curricular units 1st sem (evaluations) : Jumlah evaluasi pada semester 1.

Curricular units 1st sem (approved) : Jumlah mata kuliah semester 1 yang lulus.

Curricular units 1st sem (grade) : Rata-rata nilai semester 1.

Curricular units 1st sem (without evaluations) : Jumlah mata kuliah semester 1 tanpa evaluasi.

Curricular units 2nd sem (credited) : Jumlah mata kuliah semester 2 yang diakui.

Curricular units 2nd sem (enrolled) : Jumlah mata kuliah semester 2 yang diambil.

Curricular units 2nd sem (evaluations) : Jumlah evaluasi pada semester 2.

Curricular units 2nd sem (approved) : Jumlah mata kuliah semester 2 yang lulus.

Curricular units 2nd sem (grade) : Rata-rata nilai semester 2.

Curricular units 2nd sem (without evaluations) : Jumlah mata kuliah semester 2 tanpa evaluasi.

Unemployment rate : Tingkat pengangguran di tahun pendaftaran.

Inflation rate : Tingkat inflasi pada tahun pendaftaran.

GDP : Nilai Produk Domestik Bruto nasional pada tahun pendaftaran.

Penjelasan Kolom Dataset Labels

Kolom pada dataset labels berisi informasi status akhir mahasiswa:

Graduate : Mahasiswa telah lulus.

Dropout : Mahasiswa berhenti kuliah sebelum lulus.

Enrolled : Mahasiswa masih aktif kuliah.

**2Ô∏è. Lakukan agregasi antara tabel features dengan tabel labels.**

In [ ]:
df = pd.concat([features, labels], axis=1)
df

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,6634,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,...,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,Graduate
1,1,6459,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,Graduate
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,...,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,Graduate
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,...,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,Graduate
4,4,4260,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,...,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79,Dropout
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3091,3091,6176,single,44.0,1.0,9085.0,day,1.0,140.0,Portuguese,...,1.0,6.0,9.0,4.0,11.500000,0.0,13.9,-0.3,0.79,Graduate
3092,3092,8064,single,1.0,5.0,9238.0,day,1.0,126.0,Portuguese,...,0.0,6.0,13.0,3.0,11.000000,0.0,9.4,-0.8,-3.12,Graduate
3093,3093,2103,single,1.0,2.0,9500.0,day,1.0,141.0,Portuguese,...,0.0,8.0,8.0,8.0,14.272500,0.0,15.5,2.8,-4.06,Graduate
3094,3094,8629,single,39.0,1.0,9500.0,day,4.0,150.0,Portuguese,...,2.0,8.0,NaN,7.0,13.306250,0.0,11.1,0.6,2.02,Dropout
3095,3095,6614,single,17.0,1.0,9670.0,day,1.0,118.0,Portuguese,...,0.0,6.0,6.0,6.0,14.000000,0.0,12.4,0.5,1.79,Graduate

**3Ô∏è. Tampilkan tipe data dari setiap kolom yang terdapat dalam dataset.**

In [ ]:
# Menampilkan tipe data dari setiap kolom pada dataset hasil gabungan
data.dtypes

Unnamed: 0                                          int64
Student Id                                          int64
Marital status                                     object
Application mode                                  float64
Application order                                 float64
Course                                            float64
Daytime/evening attendance\t                       object
Previous qualification                            float64
Previous qualification (grade)                    float64
Nacionality                                        object
Mother's qualification                            float64
Father's qualification                            float64
Mother's occupation                               float64
Father's occupation                               float64
Admission grade                                   float64
Displaced                                         float64
Educational special needs                         float64
Debtor                                            float64
Tuition fees up to date                           float64
Gender                                            float64
Scholarship holder                                float64
Age at enrollment                                 float64
International                                     float64
Curricular units 1st sem (credited)               float64
Curricular units 1st sem (enrolled)               float64
Curricular units 1st sem (evaluations)            float64
Curricular units 1st sem (approved)               float64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)    float64
Curricular units 2nd sem (credited)               float64
Curricular units 2nd sem (enrolled)               float64
Curricular units 2nd sem (evaluations)            float64
Curricular units 2nd sem (approved)               float64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)    float64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                             object
dtype: object

**4. Tampilkan statistik deskriptif dari dataset dan berikan analisis singkat mengenai hasilnya.**

In [ ]:
# Menampilkan statistik deskriptif dari dataset
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,3096.0,1547.500000,893.882543,0.00,773.75,1547.500000,2321.250000,3095.000000
Student Id,3096.0,5470.623062,2582.483019,1000.00,3288.50,5441.500000,7712.250000,9997.000000
Application mode,2924.0,18.785568,17.532674,1.00,1.00,17.000000,39.000000,53.000000
Application order,2988.0,1.734940,1.327527,1.00,1.00,1.000000,2.000000,9.000000
Course,2944.0,8817.929348,2148.407432,33.00,9085.00,9238.000000,9556.000000,9991.000000
Previous qualification,2973.0,4.685503,10.439709,1.00,1.00,1.000000,1.000000,43.000000
Previous qualification (grade),3011.0,132.647293,13.322662,95.00,124.00,133.100000,140.000000,190.000000
Mother's qualification,2951.0,19.470010,15.636952,1.00,2.00,19.000000,37.000000,44.000000
Father's qualification,3000.0,22.408667,15.291008,1.00,3.00,19.000000,37.000000,44.000000
Mother's occupation,3034.0,11.495715,28.173386,0.00,4.00,5.000000,9.000000,194.000000
Father's occupation,2952.0,11.597900,26.799023,0.00,4.00,7.000000,9.000000,195.000000
Admission grade,2955.0,126.902876,14.460283,95.00,118.00,125.900000,134.600000,190.000000
Displaced,2974.0,0.546066,0.497957,0.00,0.00,1.000000,1.000000,1.000000
Educational special needs,2977.0,0.010749,0.103136,0.00,0.00,0.000000,0.000000,1.000000
Debtor,2980.0,0.117450,0.322009,0.00,0.00,0.000000,0.000000,1.000000
Tuition fees up to date,2940.0,0.880612,0.324299,0.00,1.00,1.000000,1.000000,1.000000
Gender,2894.0,0.350726,0.477280,0.00,0.00,0.000000,1.000000,1.000000
Scholarship holder,2930.0,0.246416,0.430997,0.00,0.00,0.000000,0.000000,1.000000
Age at enrollment,2892.0,23.310166,7.697740,17.00,19.00,20.000000,25.000000,70.000000
International,2995.0,0.025042,0.156278,0.00,0.00,0.000000,0.000000,1.000000
Curricular units 1st sem (credited),2888.0,0.698407,2.333794,0.00,0.00,0.000000,0.000000,20.000000
Curricular units 1st sem (enrolled),2953.0,6.251270,2.453467,0.00,5.00,6.000000,7.000000,23.000000
Curricular units 1st sem (evaluations),3029.0,8.233080,4.119638,0.00,6.00,8.000000,10.000000,45.000000
Curricular units 1st sem (approved),2912.0,4.732143,3.044222,0.00,3.00,5.000000,6.000000,21.000000
Curricular units 1st sem (grade),3007.0,10.692416,4.816427,0.00,11.00,12.333333,13.400000,18.875000
Curricular units 1st sem (without evaluations),3023.0,0.133311,0.666707,0.00,0.00,0.000000,0.000000,10.000000
Curricular units 2nd sem (credited),3035.0,0.516639,1.840537,0.00,0.00,0.000000,0.000000,19.000000
Curricular units 2nd sem (enrolled),2997.0,6.208876,2.185127,0.00,5.00,6.000000,7.000000,23.000000
Curricular units 2nd sem (evaluations),2889.0,8.061613,3.942850,0.00,6.00,8.000000,10.000000,27.000000
Curricular units 2nd sem (approved),2945.0,4.422411,2.982200,0.00,2.00,5.000000,6.000000,20.000000
Curricular units 2nd sem (grade),3021.0,10.275115,5.177672,0.00,10.80,12.250000,13.333333,18.571429
Curricular units 2nd sem (without evaluations),2943.0,0.139314,0.709478,0.00,0.00,0.000000,0.000000,12.000000
Unemployment rate,2960.0,11.549561,2.651675,7.60,9.40,11.100000,13.900000,16.200000
Inflation rate,2929.0,1.215534,1.377709,-0.80,0.30,1.400000,2.600000,3.700000
GDP,3032.0,0.028278,2.273157,-4.06,-1.70,0.320000,1.790000,3.510000

Analisis Statistik Deskriptif Dataset Mahasiswa

Age at enrollment (Usia Saat Mendaftar)

Rata-rata usia mahasiswa saat mendaftar adalah sekitar 23 tahun dengan nilai minimum 17 tahun dan maksimum 70 tahun.

Nilai standar deviasi yang cukup tinggi menunjukkan adanya variasi usia yang lebar antar mahasiswa.

Sebagian besar mahasiswa (sekitar 75%) berusia di bawah 25 tahun, menandakan bahwa mayoritas merupakan mahasiswa muda yang baru lulus dari pendidikan sebelumnya.

Admission grade (Nilai Seleksi Masuk)

Nilai rata-rata seleksi masuk sekitar 125, dengan rentang dari 95 hingga 190.

Nilai median 125 menunjukkan bahwa distribusi nilai cukup seimbang.

Nilai maksimum 190 bisa jadi merupakan outlier, menunjukkan mahasiswa dengan performa akademik yang sangat tinggi pada saat seleksi.

Curricular units 1st sem (approved)

Rata-rata mahasiswa menyelesaikan sekitar 4‚Äì5 mata kuliah pada semester pertama dengan standar deviasi sekitar 3.0, menandakan adanya variasi performa belajar antar mahasiswa.

Ada mahasiswa yang belum lulus satupun mata kuliah (nilai minimum = 0), sementara ada juga yang lulus hingga 21 mata kuliah, menunjukkan perbedaan kemampuan dan beban studi yang signifikan.

Curricular units 2nd sem (grade)

Nilai rata-rata mahasiswa pada semester kedua adalah sekitar 10.8, dengan nilai maksimum 18.5.

Sebagian besar mahasiswa memiliki nilai sekitar 12‚Äì13, menunjukkan performa yang cukup baik dan stabil antar semester.

Unemployment rate dan GDP

Rata-rata tingkat pengangguran pada data ini adalah 11.5%, dengan variasi yang cukup tinggi antar periode.

Nilai GDP rata-rata sekitar 0.028, menunjukkan kondisi ekonomi yang fluktuatif pada masa pengumpulan data.

Adanya hubungan potensial antara faktor ekonomi (GDP dan unemployment rate) dengan performa mahasiswa bisa menjadi bahan analisis lanjutan.

Kesimpulan Umum

Dataset menunjukkan keragaman karakteristik mahasiswa yang cukup besar, baik dari segi usia, prestasi akademik, maupun faktor ekonomi.

Beberapa kolom memiliki outlier atau nilai ekstrim (seperti usia 70 tahun dan nilai 190) yang perlu diperhatikan sebelum melakukan modeling.

Distribusi data secara umum tidak simetris (skewed), sehingga transformasi data atau normalisasi mungkin diperlukan pada tahap pra-pemrosesan.

Secara keseluruhan, data sudah cukup informatif untuk mendukung analisis prediktif terkait performa mahasiswa.

**5Ô∏è. Slicing Data**

In [ ]:
df.head(20)

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,6634,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,...,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,Graduate
1,1,6459,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,Graduate
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,...,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,Graduate
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,...,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,Graduate
4,4,4260,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,...,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79,Dropout
5,5,3544,married,39.0,1.0,9853.0,day,1.0,NaN,Portuguese,...,0.0,7.0,10.0,3.0,13.000000,0.0,11.1,0.6,2.02,Dropout
6,6,4956,single,39.0,1.0,9085.0,day,1.0,133.1,NaN,...,0.0,6.0,14.0,4.0,12.000000,0.0,11.1,0.6,2.02,Dropout
7,7,6758,single,1.0,4.0,9670.0,day,1.0,130.0,Portuguese,...,0.0,6.0,7.0,6.0,13.428571,0.0,8.9,1.4,3.51,Enrolled
8,8,2484,single,1.0,1.0,9773.0,day,1.0,135.0,Portuguese,...,0.0,6.0,7.0,6.0,12.166667,0.0,11.1,0.6,2.02,Graduate
9,9,9845,single,39.0,1.0,9670.0,day,1.0,120.0,Portuguese,...,0.0,5.0,8.0,4.0,11.250000,0.0,7.6,2.6,0.32,Dropout
10,10,3690,single,1.0,1.0,9670.0,day,1.0,133.1,Portuguese,...,0.0,5.0,5.0,NaN,0.000000,0.0,9.4,-0.8,-3.12,Dropout
11,11,2585,single,1.0,1.0,9070.0,day,1.0,117.0,Portuguese,...,0.0,6.0,NaN,4.0,10.750000,2.0,NaN,NaN,-0.92,Graduate
12,12,5241,single,1.0,1.0,171.0,day,1.0,162.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.7,3.7,-1.70,Dropout
13,13,2972,single,1.0,3.0,9500.0,day,1.0,135.0,Portuguese,...,0.0,8.0,11.0,NaN,13.258571,0.0,NaN,1.4,1.74,Graduate
14,14,2003,married,39.0,1.0,8014.0,NaN,NaN,120.0,Portuguese,...,0.0,NaN,8.0,6.0,12.857143,0.0,12.4,0.5,1.79,Graduate
15,15,3007,single,7.0,1.0,9119.0,day,1.0,140.8,Portuguese,...,0.0,5.0,0.0,0.0,0.000000,0.0,7.6,2.6,0.32,Dropout
16,16,9857,single,17.0,1.0,9119.0,day,1.0,132.0,Portuguese,...,0.0,5.0,5.0,0.0,0.000000,0.0,7.6,2.6,0.32,Dropout
17,17,3327,single,NaN,1.0,9003.0,day,19.0,133.1,Portuguese,...,0.0,6.0,16.0,3.0,13.333333,0.0,11.1,0.6,2.02,Dropout
18,18,5235,single,17.0,1.0,171.0,day,1.0,NaN,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,10.8,1.4,1.74,Dropout
19,19,3969,single,1.0,1.0,9085.0,day,1.0,111.0,Portuguese,...,0.0,6.0,12.0,NaN,13.666667,0.0,11.1,0.6,2.02,Graduate

In [ ]:
df.tail(20)

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
3076,3076,6757,single,17.0,NaN,9254.0,day,1.0,122.0,Portuguese,...,0.0,6.0,11.0,3.0,11.333333,0.0,7.6,2.6,0.32,Enrolled
3077,3077,5750,single,1.0,2.0,9500.0,day,1.0,140.0,Portuguese,...,0.0,8.0,8.0,8.0,13.881250,0.0,9.4,-0.8,-3.12,Graduate
3078,3078,2599,single,1.0,1.0,9085.0,day,1.0,131.0,Portuguese,...,0.0,5.0,5.0,NaN,12.800000,0.0,10.8,1.4,1.74,Graduate
3079,3079,3249,single,17.0,1.0,9238.0,day,1.0,120.0,Portuguese,...,0.0,6.0,13.0,2.0,10.666667,0.0,16.2,0.3,-0.92,Dropout
3080,3080,3366,divorced,39.0,1.0,9003.0,day,12.0,133.1,Portuguese,...,10.0,13.0,14.0,13.0,14.230769,NaN,15.5,2.8,-4.06,Graduate
3081,3081,3462,single,39.0,1.0,171.0,day,1.0,147.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,16.2,0.3,-0.92,Dropout
3082,3082,9194,single,17.0,5.0,9147.0,day,1.0,131.0,Portuguese,...,0.0,5.0,11.0,5.0,11.400000,4.0,16.2,NaN,-0.92,Graduate
3083,3083,5574,single,1.0,1.0,9500.0,day,1.0,140.0,Portuguese,...,0.0,8.0,11.0,8.0,14.881818,0.0,16.2,0.3,-0.92,Graduate
3084,3084,8311,single,1.0,2.0,9773.0,day,1.0,130.0,Portuguese,...,0.0,6.0,6.0,6.0,12.333333,0.0,12.4,0.5,1.79,Graduate
3085,3085,2304,single,17.0,1.0,9238.0,day,NaN,139.0,Portuguese,...,0.0,6.0,7.0,6.0,14.000000,0.0,15.5,2.8,-4.06,Graduate
3086,3086,6615,single,43.0,1.0,9556.0,day,1.0,149.0,Portuguese,...,0.0,8.0,8.0,8.0,12.625000,0.0,12.7,3.7,-1.70,Enrolled
3087,3087,3759,single,1.0,1.0,171.0,day,3.0,116.0,Portuguese,...,14.0,17.0,18.0,17.0,11.500000,0.0,11.1,0.6,2.02,Graduate
3088,3088,8085,single,51.0,1.0,9670.0,day,1.0,133.1,Portuguese,...,0.0,6.0,12.0,5.0,13.666667,0.0,11.1,0.6,2.02,Dropout
3089,3089,1573,single,17.0,2.0,171.0,day,1.0,142.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,15.5,2.8,-4.06,Graduate
3090,3090,9737,single,51.0,1.0,9070.0,day,1.0,143.0,Portuguese,...,5.0,11.0,11.0,10.0,11.400000,0.0,11.1,0.6,2.02,Dropout
3091,3091,6176,single,44.0,1.0,9085.0,day,1.0,140.0,Portuguese,...,1.0,6.0,9.0,4.0,11.500000,0.0,13.9,-0.3,0.79,Graduate
3092,3092,8064,single,1.0,5.0,9238.0,day,1.0,126.0,Portuguese,...,0.0,6.0,13.0,3.0,11.000000,0.0,9.4,-0.8,-3.12,Graduate
3093,3093,2103,single,1.0,2.0,9500.0,day,1.0,141.0,Portuguese,...,0.0,8.0,8.0,8.0,14.272500,0.0,15.5,2.8,-4.06,Graduate
3094,3094,8629,single,39.0,1.0,9500.0,day,4.0,150.0,Portuguese,...,2.0,8.0,NaN,7.0,13.306250,0.0,11.1,0.6,2.02,Dropout
3095,3095,6614,single,17.0,1.0,9670.0,day,1.0,118.0,Portuguese,...,0.0,6.0,6.0,6.0,14.000000,0.0,12.4,0.5,1.79,Graduate

In [ ]:
df.iloc[80:101]

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
80,80,1238,single,17.0,1.0,9670.0,day,1.0,155.0,Portuguese,...,NaN,6.0,10.0,4.0,13.000000,0.0,12.7,3.7,-1.70,Enrolled
81,81,4121,single,39.0,1.0,9003.0,day,1.0,NaN,Portuguese,...,0.0,NaN,8.0,0.0,0.000000,0.0,15.5,2.8,-4.06,Dropout
82,82,2890,single,1.0,1.0,171.0,day,1.0,159.0,NaN,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,NaN,1.79,Dropout
83,83,4358,single,1.0,1.0,9147.0,day,1.0,150.0,Ukrainian,...,0.0,5.0,7.0,5.0,13.000000,0.0,9.4,-0.8,-3.12,Graduate
84,84,4896,single,NaN,1.0,9991.0,evening,1.0,140.0,Portuguese,...,0.0,5.0,5.0,NaN,0.000000,0.0,15.5,2.8,-4.06,Dropout
85,85,4735,single,18.0,1.0,9500.0,day,1.0,144.0,Portuguese,...,NaN,8.0,8.0,7.0,13.542857,0.0,12.7,3.7,-1.70,Graduate
86,86,1047,single,1.0,1.0,9773.0,day,1.0,117.0,Portuguese,...,0.0,6.0,11.0,3.0,13.000000,0.0,15.5,2.8,-4.06,Graduate
87,87,7430,single,39.0,2.0,9556.0,day,19.0,133.1,Portuguese,...,0.0,8.0,9.0,8.0,11.962500,0.0,13.9,-0.3,0.79,Graduate
88,88,8527,single,1.0,2.0,9500.0,day,1.0,145.0,Portuguese,...,0.0,7.0,7.0,6.0,12.950000,0.0,7.6,2.6,0.32,Graduate
89,89,5420,single,43.0,1.0,NaN,day,1.0,121.0,Portuguese,...,0.0,6.0,8.0,4.0,11.250000,0.0,9.4,NaN,-3.12,Enrolled
90,90,5625,single,44.0,1.0,9003.0,day,39.0,140.0,Portuguese,...,0.0,6.0,7.0,5.0,12.600000,0.0,12.4,0.5,1.79,Graduate
91,91,8990,NaN,1.0,1.0,9500.0,day,1.0,141.0,Portuguese,...,0.0,8.0,NaN,8.0,12.860000,2.0,9.4,-0.8,-3.12,Graduate
92,92,9143,married,44.0,1.0,9085.0,day,39.0,160.0,Portuguese,...,0.0,5.0,8.0,5.0,12.000000,1.0,9.4,-0.8,-3.12,Graduate
93,93,1944,married,7.0,1.0,9070.0,day,43.0,140.0,Portuguese,...,0.0,6.0,8.0,3.0,11.000000,0.0,11.1,0.6,2.02,Graduate
94,94,3666,single,1.0,3.0,9070.0,day,1.0,125.0,Portuguese,...,0.0,6.0,7.0,6.0,14.000000,NaN,11.1,0.6,2.02,Enrolled
95,95,6960,single,17.0,3.0,9119.0,day,1.0,130.0,Portuguese,...,0.0,5.0,5.0,5.0,14.200000,0.0,8.9,1.4,NaN,Graduate
96,96,7620,single,1.0,1.0,9500.0,day,1.0,157.0,Portuguese,...,0.0,8.0,8.0,8.0,14.035000,0.0,9.4,-0.8,-3.12,Graduate
97,97,6083,single,42.0,1.0,9500.0,day,1.0,150.0,NaN,...,6.0,14.0,20.0,14.0,13.072857,NaN,9.4,-0.8,-3.12,Graduate
98,98,5525,single,17.0,5.0,9238.0,day,1.0,130.0,NaN,...,0.0,6.0,15.0,3.0,10.000000,0.0,9.4,-0.8,-3.12,Enrolled
99,99,6029,single,17.0,1.0,9773.0,day,1.0,136.0,Portuguese,...,0.0,6.0,6.0,6.0,13.166667,0.0,12.7,3.7,-1.70,Graduate
100,100,9749,single,39.0,1.0,9085.0,day,1.0,110.0,Portuguese,...,3.0,7.0,7.0,3.0,11.666667,0.0,8.9,1.4,3.51,Dropout

**6Ô∏è. Tangani nilai yang hilang (NaN) menggunakan salah satu metode berikut:**

In [ ]:

# Mengecek jumlah nilai hilang di setiap kolom
print("=== Jumlah Nilai Hilang per Kolom ===")
print(df.isnull().sum())

# Menghitung total keseluruhan nilai hilang
print("\nTotal nilai hilang di seluruh dataset:", df.isnull().sum().sum())

# Menghapus baris yang seluruh kolomnya kosong (jika ada)
df = df.dropna(how='all')

# Mengisi nilai hilang dengan rata-rata pada kolom numerik
df = df.fillna(df.mean(numeric_only=True))

# Mengecek ulang apakah masih ada nilai hilang
print("\n=== Setelah Penanganan ===")
print(df.isnull().sum())

=== Jumlah Nilai Hilang per Kolom ===
Unnamed: 0                                          0
Student Id                                          0
Marital status                                     84
Application mode                                  172
Application order                                 108
Course                                            152
Daytime/evening attendance\t                       80
Previous qualification                            123
Previous qualification (grade)                     85
Nacionality                                       185
Mother's qualification                            145
Father's qualification                             96
Mother's occupation                                62
Father's occupation                               144
Admission grade                                   141
Displaced                                         122
Educational special needs                         119
Debtor                                            116
Tuition fees up to date                           156
Gender                                            202
Scholarship holder                                166
Age at enrollment                                 204
International                                     101
Curricular units 1st sem (credited)               208
Curricular units 1st sem (enrolled)               143
Curricular units 1st sem (evaluations)             67
Curricular units 1st sem (approved)               184
Curricular units 1st sem (grade)                   89
Curricular units 1st sem (without evaluations)     73
Curricular units 2nd sem (credited)                61
Curricular units 2nd sem (enrolled)                99
Curricular units 2nd sem (evaluations)            207
Curricular units 2nd sem (approved)               151
Curricular units 2nd sem (grade)                   75
Curricular units 2nd sem (without evaluations)    153
Unemployment rate                                 136
Inflation rate                                    167
GDP                                                64
Target                                              0
dtype: int64

Total nilai hilang di seluruh dataset: 4640

=== Setelah Penanganan ===
Unnamed: 0                                          0
Student Id                                          0
Marital status                                     84
Application mode                                    0
Application order                                   0
Course                                              0
Daytime/evening attendance\t                       80
Previous qualification                              0
Previous qualification (grade)                      0
Nacionality                                       185
Mother's qualification                              0
Father's qualification                              0
Mother's occupation                                 0
Father's occupation                                 0
Admission grade                                     0
Displaced                                           0
Educational special needs                           0
Debtor                                              0
Tuition fees up to date                             0
Gender                                              0
Scholarship holder                                  0
Age at enrollment                                   0
International                                       0
Curricular units 1st sem (credited)                 0
Curricular units 1st sem (enrolled)                 0
Curricular units 1st sem (evaluations)              0
Curricular units 1st sem (approved)                 0
Curricular units 1st sem (grade)                    0
Curricular units 1st sem (without evaluations)      0
Curricular units 2nd sem (credited)                 0
Curricular units 2nd sem (enrolled)                 0
Curricular units 2nd sem (evaluations)              0
Curricular units 2nd sem (approved)                 0
Curricular units 2nd sem (grade)                    0
Curricular units 2nd sem (without evaluations)      0
Unemployment rate                                   0
Inflation rate                                      0
GDP                                                 0
Target                                              0
dtype: int64

**7Ô∏è. Opsional : Lakukan encoding terhadap kolom bertipe object menjadi numerik menggunakan:**

In [ ]:

# Menampilkan kolom dengan tipe data object (kategori)
print("=== Kolom Kategorikal ===")
kategori_cols = df.select_dtypes(include=['object']).columns
print(kategori_cols)

# Melakukan encoding one-hot untuk kolom kategorikal
df_encoded = pd.get_dummies(df, columns=kategori_cols, drop_first=True)

# Menampilkan hasil encoding
print("\nData setelah encoding:")
display(df_encoded.head())

# Mengecek ukuran data setelah encoding
print("\nUkuran data setelah encoding:", df_encoded.shape)

=== Kolom Kategorikal ===
Index(['Marital status', 'Daytime/evening attendance\t', 'Nacionality',
       'Target'],
      dtype='object')

Data setelah encoding:

,Unnamed: 0,Student Id,Application mode,Application order,Course,Previous qualification,Previous qualification (grade),Mother's qualification,Father's qualification,Mother's occupation,...,Nacionality_Moldova (Republic of),Nacionality_Mozambican,Nacionality_Portuguese,Nacionality_Romanian,Nacionality_Russian,Nacionality_Santomean,Nacionality_Spanish,Nacionality_Ukrainian,Target_Enrolled,Target_Graduate
0,0,6634,1.0,3.0,9773.000000,1.0,132.647293,1.0,1.0,4.0,...,False,False,True,False,False,False,False,False,False,True
1,1,6459,1.0,1.0,8817.929348,1.0,136.000000,19.0,19.0,4.0,...,False,False,True,False,False,False,False,False,False,True
2,2,2238,42.0,1.0,9500.000000,1.0,120.000000,1.0,2.0,9.0,...,False,False,True,False,False,False,False,False,False,True
3,3,2479,1.0,1.0,8817.929348,1.0,141.000000,1.0,19.0,4.0,...,False,False,True,False,False,False,False,False,False,True
4,4,4260,44.0,1.0,8817.929348,39.0,120.000000,4.0,4.0,3.0,...,False,False,False,False,False,False,True,False,False,False

Ukuran data setelah encoding: (3096, 61)

**8Ô∏è. Tampilkan kembali dataset yang telah melalui seluruh proses preprocessing (cleaning, imputasi, dan encoding).**

In [ ]:
from sklearn.preprocessing import StandardScaler

# Menyalin dataset hasil encoding agar aman
df_scaled = df_encoded.copy()

# Memilih kolom numerik
num_cols = df_scaled.select_dtypes(include=['int64', 'float64']).columns

# Membuat objek scaler
scaler = StandardScaler()

# Melakukan standarisasi pada kolom numerik
df_scaled[num_cols] = scaler.fit_transform(df_scaled[num_cols])

# Menampilkan hasil normalisasi
print("=== Data Setelah Normalisasi ===")
display(df_scaled.head())

# Mengecek ukuran dataset akhir
print("\nUkuran data setelah normalisasi:", df_scaled.shape)

=== Data Setelah Normalisasi ===

,Unnamed: 0,Student Id,Application mode,Application order,Course,Previous qualification,Previous qualification (grade),Mother's qualification,Father's qualification,Mother's occupation,...,Nacionality_Moldova (Republic of),Nacionality_Mozambican,Nacionality_Portuguese,Nacionality_Romanian,Nacionality_Russian,Nacionality_Santomean,Nacionality_Spanish,Nacionality_Ukrainian,Target_Enrolled,Target_Graduate
0,-1.731491,0.450561,-1.044012,0.970177,0.455957,-0.360317,0.000000,-1.210053,-1.422544,-0.268806,...,False,False,True,False,False,False,False,False,False,True
1,-1.730373,0.382785,-1.044012,-0.563626,0.000000,-0.360317,0.255224,-0.030792,-0.226496,-0.268806,...,False,False,True,False,False,False,False,False,False,True
2,-1.729254,-1.251952,1.362687,-0.563626,0.325625,-0.360317,-0.962773,-1.210053,-1.356097,-0.089499,...,False,False,True,False,False,False,False,False,False,True
3,-1.728135,-1.158616,-1.044012,-0.563626,0.000000,-0.360317,0.635848,-1.210053,-0.226496,-0.268806,...,False,False,True,False,False,False,False,False,False,True
4,-1.727016,-0.468858,1.480087,-0.563626,0.000000,3.354790,-0.962773,-1.013510,-1.223203,-0.304667,...,False,False,False,False,False,False,True,False,False,False

Ukuran data setelah normalisasi: (3096, 61)