Nama : Maysa Azhra Fauziyyah NIM : 103132430005 Infrastruktur dan Implementasi untuk Sains Data (IPSD) Modul-2 Preprocessing

Langkah Awal : Mengunggah file CSV dari komputer melalui folder Drive ke Google Collab

  1. Import Library untuk Preprocessing Data
   - Mengimport Library yang diperlukan
   - Membaca dua dataset utama (features.csv dan labels.csv)
   - Menampilkan data yaitu 5 baris pertama dari masing-masing dataset

In [83]:
# Import Library yang dibutuhkan
import pandas as pd # untuk manipulasi tabel
import numpy as np # untuk operasi numerik dan handling nilai NaN
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

# Membaca Dataset features dan labels dari folder yang diunggah di Drive
features = pd.read_csv("features.csv")
labels = pd.read_csv("labels.csv")

# Menampilkan 5 baris pertama dari masing-masing dataset
display(features.head())
display(labels.head())

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,0,6634,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,...,0.0,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02
1,1,6459,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,...,0.0,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,...,0.0,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02
4,4,4260,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,...,0.0,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79

     Target
0  Graduate
1  Graduate
2  Graduate
3  Graduate
4   Dropout

Jelaskan semua Kolom yang terdapat pada Dataset

In [84]:
# Menampilkan daftar kolom
print("Jumlah kolom pada dataset features:", len(features.columns))
print("Daftar kolom pada dataset features:")
print(features.columns.tolist())

print("\nJumlah kolom pada dataset labels:", len(labels.columns))
print("Daftar kolom pada dataset labels:")
print(labels.columns.tolist())

Jumlah kolom pada dataset features: 38
Daftar kolom pada dataset features:
['Unnamed: 0', 'Student Id', 'Marital status', 'Application mode', 'Application order', 'Course', 'Daytime/evening attendance\t', 'Previous qualification', 'Previous qualification (grade)', 'Nacionality', "Mother's qualification", "Father's qualification", "Mother's occupation", "Father's occupation", 'Admission grade', 'Displaced', 'Educational special needs', 'Debtor', 'Tuition fees up to date', 'Gender', 'Scholarship holder', 'Age at enrollment', 'International', 'Curricular units 1st sem (credited)', 'Curricular units 1st sem (enrolled)', 'Curricular units 1st sem (evaluations)', 'Curricular units 1st sem (approved)', 'Curricular units 1st sem (grade)', 'Curricular units 1st sem (without evaluations)', 'Curricular units 2nd sem (credited)', 'Curricular units 2nd sem (enrolled)', 'Curricular units 2nd sem (evaluations)', 'Curricular units 2nd sem (approved)', 'Curricular units 2nd sem (grade)', 'Curricular units 2nd sem (without evaluations)', 'Unemployment rate', 'Inflation rate', 'GDP']

Jumlah kolom pada dataset labels: 1
Daftar kolom pada dataset labels:
['Target']

--Penjelasan 5 Kolom Teratas dalam file features

1. Student ID: Nomor Unik Mahasiswa/NIM dalam Indonesia yang berguna sebagai Primary Key dan berjenis numerix/index untuk mengidentifikasi
2. Marital Status: Status Pernikahan Mahasiswa (Menikah/Single) dan daya berjenis kategorial yang mungkin berpengaruh terhadap pendidikan yang bersanagkutan
3. Application mode: Cara atau Jalur Mahasiswa Mendaftar misal: Reguler, Beasiswa, Mandiri, Test, dsb.
4. Application Order: Urutan pilihan jurusan yang diambil saat mendaftar (1 = pilihan utama).
5. Course : Kode program studi atau jurusan mahasiswa.
6. Daytime/evening attendance : Jenis waktu kuliah mahasiswa, apakah siang atau malam.
7. Previous qualification : Jenis pendidikan terakhir sebelum masuk universitas.
8. Previous qualification (grade) : Nilai atau skor dari pendidikan sebelumnya.
9. Nacionality : Kebangsaan mahasiswa.
10. Mother’s qualification : Tingkat pendidikan ibu mahasiswa.
11. Father’s qualification : Tingkat pendidikan ayah mahasiswa.
12. Mother’s occupation : Jenis pekerjaan ibu mahasiswa.
13. Father’s occupation : Jenis pekerjaan ayah mahasiswa.
14. Admission grade : Nilai saat diterima di universitas.
15. Displaced : Menunjukkan apakah mahasiswa merupakan mahasiswa pindahan (1 = ya, 0 = tidak).
16. Educational special needs : Menunjukkan apakah mahasiswa memiliki kebutuhan khusus dalam belajar (1 = ya, 0 = tidak).
17. Debtor : Menunjukkan apakah mahasiswa memiliki tunggakan biaya kuliah (1 = ya, 0 = tidak).
18. Tuition fees up to date : Menunjukkan apakah pembayaran biaya kuliah mahasiswa sudah lunas (1 = ya, 0 = tidak).
19. Gender : Jenis kelamin mahasiswa (1 = laki-laki, 0 = perempuan).
20. Scholarship holder : Menunjukkan apakah mahasiswa penerima beasiswa (1 = ya, 0 = tidak).
21. Age at enrollment : Usia mahasiswa saat pertama kali mendaftar kuliah.
22. International : Menunjukkan apakah mahasiswa berasal dari luar negeri (1 = ya, 0 = tidak).
23. Curricular units 1st sem (credited) : Jumlah mata kuliah semester 1 yang diakui dari tempat lain.
24. Curricular units 1st sem (enrolled) : Jumlah mata kuliah semester 1 yang diambil.
25. Curricular units 1st sem (evaluations) : Jumlah evaluasi atau ujian yang dilakukan pada semester 1.
26. Curricular units 1st sem (approved) : Jumlah mata kuliah semester 1 yang disetujui atau lulus.
27. Curricular units 1st sem (grade) : Nilai rata-rata mata kuliah semester 1.
28. Curricular units 1st sem (without evaluations) : Jumlah mata kuliah semester 1 tanpa evaluasi.
29. Curricular units 2nd sem (credited) : Jumlah mata kuliah semester 2 yang diakui dari tempat lain.
30. Curricular units 2nd sem (enrolled) : Jumlah mata kuliah semester 2 yang diambil.
31. Curricular units 2nd sem (evaluations) : Jumlah evaluasi atau ujian semester 2.
32. Curricular units 2nd sem (approved) : Jumlah mata kuliah semester 2 yang disetujui atau lulus.
33. Curricular units 2nd sem (grade) : Nilai rata-rata mata kuliah semester 2.
34. Curricular units 2nd sem (without evaluations) : Jumlah mata kuliah semester 2 tanpa evaluasi.
35. Unemployment rate : Tingkat pengangguran nasional pada saat itu.
36. Inflation rate : Tingkat inflasi nasional pada saat itu.
37. GDP : Pertumbuhan ekonomi nasional pada saat itu.

In [91]:
labels.head()

     Target
0  Graduate
1  Graduate
2  Graduate
3  Graduate
4   Dropout

Kolom Tabels :
- Graduate = Lulus
- Dropout = Dikeluarkan / berhenti kuliah

2. Agregasi Features dan Labels dengan tabel labels

In [85]:
# Menggabungkan kedua tabel dataset features dan labels
df = pd.concat([features, labels], axis=1)

axis = 1 yaitu membuat labels jadi kolom baru

3. Tampilkan tipe data dari setiap kolom yang terdapat dalam dataset

Perintah df.info() menampilkan tipe data dan jumlah nilai non-null di setiap kolom.

Hasilnya menunjukkan bahwa sebagian besar kolom bertipe numerik, dengan beberapa kolom kategorikal seperti gender, marital status, dan region.
Terdapat beberapa kolom dengan nilai hilang (NaN) yang perlu ditangani.

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3096 entries, 0 to 3095
Data columns (total 39 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Unnamed: 0                                      3096 non-null   int64
 1   Student Id                                      3096 non-null   int64
 2   Marital status                                  3012 non-null   object
 3   Application mode                                2924 non-null   float64
 4   Application order                               2988 non-null   float64
 5   Course                                          2944 non-null   float64
 6   Daytime/evening attendance	                     3016 non-null   object
 7   Previous qualification                          2973 non-null   float64
 8   Previous qualification (grade)                  3011 non-null   float64
 9   Nacionality                                     2911 non-null   object
 10  Mother's qualification                          2951 non-null   float64
 11  Father's qualification                          3000 non-null   float64
 12  Mother's occupation                             3034 non-null   float64
 13  Father's occupation                             2952 non-null   float64
 14  Admission grade                                 2955 non-null   float64
 15  Displaced                                       2974 non-null   float64
 16  Educational special needs                       2977 non-null   float64
 17  Debtor                                          2980 non-null   float64
 18  Tuition fees up to date                         2940 non-null   float64
 19  Gender                                          2894 non-null   float64
 20  Scholarship holder                              2930 non-null   float64
 21  Age at enrollment                               2892 non-null   float64
 22  International                                   2995 non-null   float64
 23  Curricular units 1st sem (credited)             2888 non-null   float64
 24  Curricular units 1st sem (enrolled)             2953 non-null   float64
 25  Curricular units 1st sem (evaluations)          3029 non-null   float64
 26  Curricular units 1st sem (approved)             2912 non-null   float64
 27  Curricular units 1st sem (grade)                3007 non-null   float64
 28  Curricular units 1st sem (without evaluations)  3023 non-null   float64
 29  Curricular units 2nd sem (credited)             3035 non-null   float64
 30  Curricular units 2nd sem (enrolled)             2997 non-null   float64
 31  Curricular units 2nd sem (evaluations)          2889 non-null   float64
 32  Curricular units 2nd sem (approved)             2945 non-null   float64
 33  Curricular units 2nd sem (grade)                3021 non-null   float64
 34  Curricular units 2nd sem (without evaluations)  2943 non-null   float64
 35  Unemployment rate                               2960 non-null   float64
 36  Inflation rate                                  2929 non-null   float64
 37  GDP                                             3032 non-null   float64
 38  Target                                          3096 non-null   object
dtypes: float64(33), int64(2), object(4)
memory usage: 943.4+ KB

In [86]:
# Menampilkan data dari hasil beberapa penggabungan
print("Data setelah digabung:")
display(df.head())

Data setelah digabung:

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,6634,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,...,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,Graduate
1,1,6459,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,Graduate
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,...,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,Graduate
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,...,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,Graduate
4,4,4260,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,...,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79,Dropout

In [87]:
# Mengechek ukuran data setelah hasil gabungan
print("Ukuran data:", df.shape)

Ukuran data: (3096, 39)

In [88]:
# Melihat tipe data dari setiap kolom dalam dataset
print("===Tipe Data Dataset Features===")
display(features.dtypes)

print("===\nTipe Data Dataset Labels===")
display(labels.dtypes)

===Tipe Data Dataset Features===

Unnamed: 0                                          int64
Student Id                                          int64
Marital status                                     object
Application mode                                  float64
Application order                                 float64
Course                                            float64
Daytime/evening attendance\t                       object
Previous qualification                            float64
Previous qualification (grade)                    float64
Nacionality                                        object
Mother's qualification                            float64
Father's qualification                            float64
Mother's occupation                               float64
Father's occupation                               float64
Admission grade                                   float64
Displaced                                         float64
Educational special needs                         float64
Debtor                                            float64
Tuition fees up to date                           float64
Gender                                            float64
Scholarship holder                                float64
Age at enrollment                                 float64
International                                     float64
Curricular units 1st sem (credited)               float64
Curricular units 1st sem (enrolled)               float64
Curricular units 1st sem (evaluations)            float64
Curricular units 1st sem (approved)               float64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)    float64
Curricular units 2nd sem (credited)               float64
Curricular units 2nd sem (enrolled)               float64
Curricular units 2nd sem (evaluations)            float64
Curricular units 2nd sem (approved)               float64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)    float64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
dtype: object

===
Tipe Data Dataset Labels===

Target    object
dtype: object

In [89]:
# Melihat baris pertama dari beberapa setiap dataset
print("===Data features===")
display(features.head())

print("===\nData labels===")
display(labels.head())

===Data features===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,0,6634,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,...,0.0,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02
1,1,6459,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,...,0.0,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,...,0.0,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02
4,4,4260,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,...,0.0,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79

===
Data labels===

     Target
0  Graduate
1  Graduate
2  Graduate
3  Graduate
4   Dropout

4. Tampilkan Statistik Deskriptif dari Dataset dan berikan Analisis singkat mengenai Hasilnya

Dengan df.describe(), diperoleh ringkasan statistik untuk setiap kolom numerik.

Nilai rata-rata, standar deviasi, serta rentang nilai membantu memahami sebaran data awal.
Beberapa fitur menunjukkan nilai minimum 0 yang menandakan kemungkinan ada data kosong atau outlier.

In [ ]:
# Menampilkan Statistik Deskriptif hasil dari gabungan Dataset
df.describe(include='all')

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
count,3096.000000,3096.000000,3012,2924.000000,2988.000000,2944.000000,3016,2973.000000,3011.000000,2911,...,3035.000000,2997.000000,2889.000000,2945.000000,3021.000000,2943.000000,2960.000000,2929.000000,3032.000000,3096
unique,NaN,NaN,6,NaN,NaN,NaN,2,NaN,NaN,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
top,NaN,NaN,single,NaN,NaN,NaN,day,NaN,NaN,Portuguese,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Graduate
freq,NaN,NaN,2674,NaN,NaN,NaN,2701,NaN,NaN,2836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1546
mean,1547.500000,5470.623062,NaN,18.785568,1.734940,8817.929348,NaN,4.685503,132.647293,NaN,...,0.516639,6.208876,8.061613,4.422411,10.275115,0.139314,11.549561,1.215534,0.028278,NaN
std,893.882543,2582.483019,NaN,17.532674,1.327527,2148.407432,NaN,10.439709,13.322662,NaN,...,1.840537,2.185127,3.942850,2.982200,5.177672,0.709478,2.651675,1.377709,2.273157,NaN
min,0.000000,1000.000000,NaN,1.000000,1.000000,33.000000,NaN,1.000000,95.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.600000,-0.800000,-4.060000,NaN
25%,773.750000,3288.500000,NaN,1.000000,1.000000,9085.000000,NaN,1.000000,124.000000,NaN,...,0.000000,5.000000,6.000000,2.000000,10.800000,0.000000,9.400000,0.300000,-1.700000,NaN
50%,1547.500000,5441.500000,NaN,17.000000,1.000000,9238.000000,NaN,1.000000,133.100000,NaN,...,0.000000,6.000000,8.000000,5.000000,12.250000,0.000000,11.100000,1.400000,0.320000,NaN
75%,2321.250000,7712.250000,NaN,39.000000,2.000000,9556.000000,NaN,1.000000,140.000000,NaN,...,0.000000,7.000000,10.000000,6.000000,13.333333,0.000000,13.900000,2.600000,1.790000,NaN
max,3095.000000,9997.000000,NaN,53.000000,9.000000,9991.000000,NaN,43.000000,190.000000,NaN,...,19.000000,23.000000,27.000000,20.000000,18.571429,12.000000,16.200000,3.700000,3.510000,NaN

In [ ]:
# Menampilkan statistik Deskriptif dari dataset
print("=== Statistik Deskriptif Dataset ===")
display(df.describe())

=== Statistik Deskriptif Dataset ===

,Unnamed: 0,Student Id,Application mode,Application order,Course,Previous qualification,Previous qualification (grade),Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
count,3096.000000,3096.000000,2924.000000,2988.000000,2944.000000,2973.000000,3011.000000,2951.000000,3000.000000,3034.000000,...,3023.000000,3035.000000,2997.000000,2889.000000,2945.000000,3021.000000,2943.000000,2960.000000,2929.000000,3032.000000
mean,1547.500000,5470.623062,18.785568,1.734940,8817.929348,4.685503,132.647293,19.470010,22.408667,11.495715,...,0.133311,0.516639,6.208876,8.061613,4.422411,10.275115,0.139314,11.549561,1.215534,0.028278
std,893.882543,2582.483019,17.532674,1.327527,2148.407432,10.439709,13.322662,15.636952,15.291008,28.173386,...,0.666707,1.840537,2.185127,3.942850,2.982200,5.177672,0.709478,2.651675,1.377709,2.273157
min,0.000000,1000.000000,1.000000,1.000000,33.000000,1.000000,95.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.600000,-0.800000,-4.060000
25%,773.750000,3288.500000,1.000000,1.000000,9085.000000,1.000000,124.000000,2.000000,3.000000,4.000000,...,0.000000,0.000000,5.000000,6.000000,2.000000,10.800000,0.000000,9.400000,0.300000,-1.700000
50%,1547.500000,5441.500000,17.000000,1.000000,9238.000000,1.000000,133.100000,19.000000,19.000000,5.000000,...,0.000000,0.000000,6.000000,8.000000,5.000000,12.250000,0.000000,11.100000,1.400000,0.320000
75%,2321.250000,7712.250000,39.000000,2.000000,9556.000000,1.000000,140.000000,37.000000,37.000000,9.000000,...,0.000000,0.000000,7.000000,10.000000,6.000000,13.333333,0.000000,13.900000,2.600000,1.790000
max,3095.000000,9997.000000,53.000000,9.000000,9991.000000,43.000000,190.000000,44.000000,44.000000,194.000000,...,10.000000,19.000000,23.000000,27.000000,20.000000,18.571429,12.000000,16.200000,3.700000,3.510000

5. Slicing Data

Menampilkan 20 baris awal, 20 baris terakhir, menampilkan indeks 80-100 untuk melihat isi dataset sebagian di berbagai posisi.

In [ ]:
# Menampilkan 20 baris awal
print("=== 20 Baris Awal ===")
display(df.head(20))

# Menampilkan 20 baris terakhir
print("\n=== 20 Baris Terakhir ===")
display(df.tail(20))

# Menampilkan baris indeks 80–100
print("\n=== Baris 80 - 100 ===")
display(df.iloc[80:101])

=== 20 Baris Awal ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,6634,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,...,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,Graduate
1,1,6459,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,Graduate
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,...,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,Graduate
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,...,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,Graduate
4,4,4260,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,...,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79,Dropout
5,5,3544,married,39.0,1.0,9853.0,day,1.0,NaN,Portuguese,...,0.0,7.0,10.0,3.0,13.000000,0.0,11.1,0.6,2.02,Dropout
6,6,4956,single,39.0,1.0,9085.0,day,1.0,133.1,NaN,...,0.0,6.0,14.0,4.0,12.000000,0.0,11.1,0.6,2.02,Dropout
7,7,6758,single,1.0,4.0,9670.0,day,1.0,130.0,Portuguese,...,0.0,6.0,7.0,6.0,13.428571,0.0,8.9,1.4,3.51,Enrolled
8,8,2484,single,1.0,1.0,9773.0,day,1.0,135.0,Portuguese,...,0.0,6.0,7.0,6.0,12.166667,0.0,11.1,0.6,2.02,Graduate
9,9,9845,single,39.0,1.0,9670.0,day,1.0,120.0,Portuguese,...,0.0,5.0,8.0,4.0,11.250000,0.0,7.6,2.6,0.32,Dropout
10,10,3690,single,1.0,1.0,9670.0,day,1.0,133.1,Portuguese,...,0.0,5.0,5.0,NaN,0.000000,0.0,9.4,-0.8,-3.12,Dropout
11,11,2585,single,1.0,1.0,9070.0,day,1.0,117.0,Portuguese,...,0.0,6.0,NaN,4.0,10.750000,2.0,NaN,NaN,-0.92,Graduate
12,12,5241,single,1.0,1.0,171.0,day,1.0,162.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.7,3.7,-1.70,Dropout
13,13,2972,single,1.0,3.0,9500.0,day,1.0,135.0,Portuguese,...,0.0,8.0,11.0,NaN,13.258571,0.0,NaN,1.4,1.74,Graduate
14,14,2003,married,39.0,1.0,8014.0,NaN,NaN,120.0,Portuguese,...,0.0,NaN,8.0,6.0,12.857143,0.0,12.4,0.5,1.79,Graduate
15,15,3007,single,7.0,1.0,9119.0,day,1.0,140.8,Portuguese,...,0.0,5.0,0.0,0.0,0.000000,0.0,7.6,2.6,0.32,Dropout
16,16,9857,single,17.0,1.0,9119.0,day,1.0,132.0,Portuguese,...,0.0,5.0,5.0,0.0,0.000000,0.0,7.6,2.6,0.32,Dropout
17,17,3327,single,NaN,1.0,9003.0,day,19.0,133.1,Portuguese,...,0.0,6.0,16.0,3.0,13.333333,0.0,11.1,0.6,2.02,Dropout
18,18,5235,single,17.0,1.0,171.0,day,1.0,NaN,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,10.8,1.4,1.74,Dropout
19,19,3969,single,1.0,1.0,9085.0,day,1.0,111.0,Portuguese,...,0.0,6.0,12.0,NaN,13.666667,0.0,11.1,0.6,2.02,Graduate

=== 20 Baris Terakhir ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
3076,3076,6757,single,17.0,NaN,9254.0,day,1.0,122.0,Portuguese,...,0.0,6.0,11.0,3.0,11.333333,0.0,7.6,2.6,0.32,Enrolled
3077,3077,5750,single,1.0,2.0,9500.0,day,1.0,140.0,Portuguese,...,0.0,8.0,8.0,8.0,13.881250,0.0,9.4,-0.8,-3.12,Graduate
3078,3078,2599,single,1.0,1.0,9085.0,day,1.0,131.0,Portuguese,...,0.0,5.0,5.0,NaN,12.800000,0.0,10.8,1.4,1.74,Graduate
3079,3079,3249,single,17.0,1.0,9238.0,day,1.0,120.0,Portuguese,...,0.0,6.0,13.0,2.0,10.666667,0.0,16.2,0.3,-0.92,Dropout
3080,3080,3366,divorced,39.0,1.0,9003.0,day,12.0,133.1,Portuguese,...,10.0,13.0,14.0,13.0,14.230769,NaN,15.5,2.8,-4.06,Graduate
3081,3081,3462,single,39.0,1.0,171.0,day,1.0,147.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,16.2,0.3,-0.92,Dropout
3082,3082,9194,single,17.0,5.0,9147.0,day,1.0,131.0,Portuguese,...,0.0,5.0,11.0,5.0,11.400000,4.0,16.2,NaN,-0.92,Graduate
3083,3083,5574,single,1.0,1.0,9500.0,day,1.0,140.0,Portuguese,...,0.0,8.0,11.0,8.0,14.881818,0.0,16.2,0.3,-0.92,Graduate
3084,3084,8311,single,1.0,2.0,9773.0,day,1.0,130.0,Portuguese,...,0.0,6.0,6.0,6.0,12.333333,0.0,12.4,0.5,1.79,Graduate
3085,3085,2304,single,17.0,1.0,9238.0,day,NaN,139.0,Portuguese,...,0.0,6.0,7.0,6.0,14.000000,0.0,15.5,2.8,-4.06,Graduate
3086,3086,6615,single,43.0,1.0,9556.0,day,1.0,149.0,Portuguese,...,0.0,8.0,8.0,8.0,12.625000,0.0,12.7,3.7,-1.70,Enrolled
3087,3087,3759,single,1.0,1.0,171.0,day,3.0,116.0,Portuguese,...,14.0,17.0,18.0,17.0,11.500000,0.0,11.1,0.6,2.02,Graduate
3088,3088,8085,single,51.0,1.0,9670.0,day,1.0,133.1,Portuguese,...,0.0,6.0,12.0,5.0,13.666667,0.0,11.1,0.6,2.02,Dropout
3089,3089,1573,single,17.0,2.0,171.0,day,1.0,142.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,15.5,2.8,-4.06,Graduate
3090,3090,9737,single,51.0,1.0,9070.0,day,1.0,143.0,Portuguese,...,5.0,11.0,11.0,10.0,11.400000,0.0,11.1,0.6,2.02,Dropout
3091,3091,6176,single,44.0,1.0,9085.0,day,1.0,140.0,Portuguese,...,1.0,6.0,9.0,4.0,11.500000,0.0,13.9,-0.3,0.79,Graduate
3092,3092,8064,single,1.0,5.0,9238.0,day,1.0,126.0,Portuguese,...,0.0,6.0,13.0,3.0,11.000000,0.0,9.4,-0.8,-3.12,Graduate
3093,3093,2103,single,1.0,2.0,9500.0,day,1.0,141.0,Portuguese,...,0.0,8.0,8.0,8.0,14.272500,0.0,15.5,2.8,-4.06,Graduate
3094,3094,8629,single,39.0,1.0,9500.0,day,4.0,150.0,Portuguese,...,2.0,8.0,NaN,7.0,13.306250,0.0,11.1,0.6,2.02,Dropout
3095,3095,6614,single,17.0,1.0,9670.0,day,1.0,118.0,Portuguese,...,0.0,6.0,6.0,6.0,14.000000,0.0,12.4,0.5,1.79,Graduate

=== Baris 80 - 100 ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
80,80,1238,single,17.0,1.0,9670.0,day,1.0,155.0,Portuguese,...,NaN,6.0,10.0,4.0,13.000000,0.0,12.7,3.7,-1.70,Enrolled
81,81,4121,single,39.0,1.0,9003.0,day,1.0,NaN,Portuguese,...,0.0,NaN,8.0,0.0,0.000000,0.0,15.5,2.8,-4.06,Dropout
82,82,2890,single,1.0,1.0,171.0,day,1.0,159.0,NaN,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,NaN,1.79,Dropout
83,83,4358,single,1.0,1.0,9147.0,day,1.0,150.0,Ukrainian,...,0.0,5.0,7.0,5.0,13.000000,0.0,9.4,-0.8,-3.12,Graduate
84,84,4896,single,NaN,1.0,9991.0,evening,1.0,140.0,Portuguese,...,0.0,5.0,5.0,NaN,0.000000,0.0,15.5,2.8,-4.06,Dropout
85,85,4735,single,18.0,1.0,9500.0,day,1.0,144.0,Portuguese,...,NaN,8.0,8.0,7.0,13.542857,0.0,12.7,3.7,-1.70,Graduate
86,86,1047,single,1.0,1.0,9773.0,day,1.0,117.0,Portuguese,...,0.0,6.0,11.0,3.0,13.000000,0.0,15.5,2.8,-4.06,Graduate
87,87,7430,single,39.0,2.0,9556.0,day,19.0,133.1,Portuguese,...,0.0,8.0,9.0,8.0,11.962500,0.0,13.9,-0.3,0.79,Graduate
88,88,8527,single,1.0,2.0,9500.0,day,1.0,145.0,Portuguese,...,0.0,7.0,7.0,6.0,12.950000,0.0,7.6,2.6,0.32,Graduate
89,89,5420,single,43.0,1.0,NaN,day,1.0,121.0,Portuguese,...,0.0,6.0,8.0,4.0,11.250000,0.0,9.4,NaN,-3.12,Enrolled
90,90,5625,single,44.0,1.0,9003.0,day,39.0,140.0,Portuguese,...,0.0,6.0,7.0,5.0,12.600000,0.0,12.4,0.5,1.79,Graduate
91,91,8990,NaN,1.0,1.0,9500.0,day,1.0,141.0,Portuguese,...,0.0,8.0,NaN,8.0,12.860000,2.0,9.4,-0.8,-3.12,Graduate
92,92,9143,married,44.0,1.0,9085.0,day,39.0,160.0,Portuguese,...,0.0,5.0,8.0,5.0,12.000000,1.0,9.4,-0.8,-3.12,Graduate
93,93,1944,married,7.0,1.0,9070.0,day,43.0,140.0,Portuguese,...,0.0,6.0,8.0,3.0,11.000000,0.0,11.1,0.6,2.02,Graduate
94,94,3666,single,1.0,3.0,9070.0,day,1.0,125.0,Portuguese,...,0.0,6.0,7.0,6.0,14.000000,NaN,11.1,0.6,2.02,Enrolled
95,95,6960,single,17.0,3.0,9119.0,day,1.0,130.0,Portuguese,...,0.0,5.0,5.0,5.0,14.200000,0.0,8.9,1.4,NaN,Graduate
96,96,7620,single,1.0,1.0,9500.0,day,1.0,157.0,Portuguese,...,0.0,8.0,8.0,8.0,14.035000,0.0,9.4,-0.8,-3.12,Graduate
97,97,6083,single,42.0,1.0,9500.0,day,1.0,150.0,NaN,...,6.0,14.0,20.0,14.0,13.072857,NaN,9.4,-0.8,-3.12,Graduate
98,98,5525,single,17.0,5.0,9238.0,day,1.0,130.0,NaN,...,0.0,6.0,15.0,3.0,10.000000,0.0,9.4,-0.8,-3.12,Enrolled
99,99,6029,single,17.0,1.0,9773.0,day,1.0,136.0,Portuguese,...,0.0,6.0,6.0,6.0,13.166667,0.0,12.7,3.7,-1.70,Graduate
100,100,9749,single,39.0,1.0,9085.0,day,1.0,110.0,Portuguese,...,3.0,7.0,7.0,3.0,11.666667,0.0,8.9,1.4,3.51,Dropout

6. Tangani nilai yang hilang (NaN) menggunakan salah satu metode :

Dilakukan dengan df.isnull().sum().

Ditemukan beberapa kolom yang memiliki nilai kosong, terutama pada fitur ekonomi seperti tuition fees up to date dan scholarship holder.
Nilai-nilai ini nantinya akan diimputasi dengan median atau modus.

In [ ]:
# Mengecek jumlah nilai yang hilang di setiap kolom
print("=== Missing Values Sebelum Imputasi ===")
print(df.isnull().sum())

=== Missing Values Sebelum Imputasi ===
Unnamed: 0                                          0
Student Id                                          0
Marital status                                     84
Application mode                                  172
Application order                                 108
Course                                            152
Daytime/evening attendance\t                       80
Previous qualification                            123
Previous qualification (grade)                     85
Nacionality                                       185
Mother's qualification                            145
Father's qualification                             96
Mother's occupation                                62
Father's occupation                               144
Admission grade                                   141
Displaced                                         122
Educational special needs                         119
Debtor                                            116
Tuition fees up to date                           156
Gender                                            202
Scholarship holder                                166
Age at enrollment                                 204
International                                     101
Curricular units 1st sem (credited)               208
Curricular units 1st sem (enrolled)               143
Curricular units 1st sem (evaluations)             67
Curricular units 1st sem (approved)               184
Curricular units 1st sem (grade)                   89
Curricular units 1st sem (without evaluations)     73
Curricular units 2nd sem (credited)                61
Curricular units 2nd sem (enrolled)                99
Curricular units 2nd sem (evaluations)            207
Curricular units 2nd sem (approved)               151
Curricular units 2nd sem (grade)                   75
Curricular units 2nd sem (without evaluations)    153
Unemployment rate                                 136
Inflation rate                                    167
GDP                                                64
Target                                              0
dtype: int64

In [ ]:
# Memisahkan kolom numerik dan kategorikal
num_cols = df.select_dtypes(include=['float64', 'int64']).columns
cat_cols = df.select_dtypes(include=['object']).columns

In [ ]:
# Membuat objek imputasi
from sklearn.impute import SimpleImputer

In [ ]:
# Median untuk data numerik
imputer_num = SimpleImputer(strategy='median')
df[num_cols] = imputer_num.fit_transform(df[num_cols])

In [ ]:
# Mode untuk data kategorikal
imputer_cat = SimpleImputer(strategy='most_frequent')
df[cat_cols] = imputer_cat.fit_transform(df[cat_cols])

In [ ]:
# Mengecek kembali setelah imputasi
print("\n=== Jumlah Missing Values Setelah Imputasi ===")
print(df.isnull().sum().head(10))

=== Jumlah Missing Values Setelah Imputasi ===
Unnamed: 0                        0
Student Id                        0
Marital status                    0
Application mode                  0
Application order                 0
Course                            0
Daytime/evening attendance\t      0
Previous qualification            0
Previous qualification (grade)    0
Nacionality                       0
dtype: int64

7. Encoding terhadap kolom bertipe Object menjadi Numerik

Dilakukan label encoding untuk kolom kategorikal seperti gender dan marital status agar dapat digunakan dalam model numerik.

Hasilnya, setiap kategori direpresentasikan sebagai angka

In [ ]:
# Melakukan encoding pada kolom kategorikal
encoder = LabelEncoder()
for col in cat_cols:
    df[col] = encoder.fit_transform(df[col])

print("=== Data Setelah Encoding (5 Baris Pertama) ===")
display(df.head())

=== Data Setelah Encoding (5 Baris Pertama) ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0.0,6634.0,4,1.0,3.0,9773.0,0,1.0,133.1,13,...,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,2
1,1.0,6459.0,4,1.0,1.0,9238.0,0,1.0,136.0,13,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,2
2,2.0,2238.0,4,42.0,1.0,9500.0,0,1.0,120.0,13,...,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,2
3,3.0,2479.0,4,1.0,1.0,9238.0,0,1.0,141.0,13,...,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,2
4,4.0,4260.0,4,44.0,1.0,9238.0,0,39.0,120.0,17,...,1.0,6.0,8.0,3.0,12.000000,0.0,12.4,0.5,1.79,0

In [ ]:
# Cek tipe data setelah encoding
print("\nTipe data setelah encoding:")
print(df.dtypes)

Tipe data setelah encoding:
Unnamed: 0                                        float64
Student Id                                        float64
Marital status                                      int64
Application mode                                  float64
Application order                                 float64
Course                                            float64
Daytime/evening attendance\t                        int64
Previous qualification                            float64
Previous qualification (grade)                    float64
Nacionality                                         int64
Mother's qualification                            float64
Father's qualification                            float64
Mother's occupation                               float64
Father's occupation                               float64
Admission grade                                   float64
Displaced                                         float64
Educational special needs                         float64
Debtor                                            float64
Tuition fees up to date                           float64
Gender                                            float64
Scholarship holder                                float64
Age at enrollment                                 float64
International                                     float64
Curricular units 1st sem (credited)               float64
Curricular units 1st sem (enrolled)               float64
Curricular units 1st sem (evaluations)            float64
Curricular units 1st sem (approved)               float64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)    float64
Curricular units 2nd sem (credited)               float64
Curricular units 2nd sem (enrolled)               float64
Curricular units 2nd sem (evaluations)            float64
Curricular units 2nd sem (approved)               float64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)    float64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                              int64
dtype: object

In [ ]:
# Mengecek ukuran data setelah encoding
print("Ukuran dataset (baris, kolom):")
print(df.shape)

Ukuran dataset (baris, kolom):
(3096, 39)

   8. Menampilkan kembali Dataset yang telah melalui proses preprocessing (cleaning, imputasi, dan encoding)

Preprocessing Dataset sudah melewati semua tahap (cleaning, imputasi, encoding)

In [ ]:
df_cleaned = df.copy() # Membuat salinan data supaya tidak berubah versi aslinya dan disimpan di variabel cleaned

In [ ]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3096 entries, 0 to 3095
Data columns (total 39 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Unnamed: 0                                      3096 non-null   float64
 1   Student Id                                      3096 non-null   float64
 2   Marital status                                  3096 non-null   int64
 3   Application mode                                3096 non-null   float64
 4   Application order                               3096 non-null   float64
 5   Course                                          3096 non-null   float64
 6   Daytime/evening attendance	                     3096 non-null   int64
 7   Previous qualification                          3096 non-null   float64
 8   Previous qualification (grade)                  3096 non-null   float64
 9   Nacionality                                     3096 non-null   int64
 10  Mother's qualification                          3096 non-null   float64
 11  Father's qualification                          3096 non-null   float64
 12  Mother's occupation                             3096 non-null   float64
 13  Father's occupation                             3096 non-null   float64
 14  Admission grade                                 3096 non-null   float64
 15  Displaced                                       3096 non-null   float64
 16  Educational special needs                       3096 non-null   float64
 17  Debtor                                          3096 non-null   float64
 18  Tuition fees up to date                         3096 non-null   float64
 19  Gender                                          3096 non-null   float64
 20  Scholarship holder                              3096 non-null   float64
 21  Age at enrollment                               3096 non-null   float64
 22  International                                   3096 non-null   float64
 23  Curricular units 1st sem (credited)             3096 non-null   float64
 24  Curricular units 1st sem (enrolled)             3096 non-null   float64
 25  Curricular units 1st sem (evaluations)          3096 non-null   float64
 26  Curricular units 1st sem (approved)             3096 non-null   float64
 27  Curricular units 1st sem (grade)                3096 non-null   float64
 28  Curricular units 1st sem (without evaluations)  3096 non-null   float64
 29  Curricular units 2nd sem (credited)             3096 non-null   float64
 30  Curricular units 2nd sem (enrolled)             3096 non-null   float64
 31  Curricular units 2nd sem (evaluations)          3096 non-null   float64
 32  Curricular units 2nd sem (approved)             3096 non-null   float64
 33  Curricular units 2nd sem (grade)                3096 non-null   float64
 34  Curricular units 2nd sem (without evaluations)  3096 non-null   float64
 35  Unemployment rate                               3096 non-null   float64
 36  Inflation rate                                  3096 non-null   float64
 37  GDP                                             3096 non-null   float64
 38  Target                                          3096 non-null   int64
dtypes: float64(35), int64(4)
memory usage: 943.4 KB

In [ ]:
df_cleaned.head()

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0.0,6634.0,4,1.0,3.0,9773.0,0,1.0,133.1,13,...,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,2
1,1.0,6459.0,4,1.0,1.0,9238.0,0,1.0,136.0,13,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,2
2,2.0,2238.0,4,42.0,1.0,9500.0,0,1.0,120.0,13,...,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,2
3,3.0,2479.0,4,1.0,1.0,9238.0,0,1.0,141.0,13,...,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,2
4,4.0,4260.0,4,44.0,1.0,9238.0,0,39.0,120.0,17,...,1.0,6.0,8.0,3.0,12.000000,0.0,12.4,0.5,1.79,0

Kesimpulan ⁉